<div class="modal is-active">
    <div class="modal-background"></div>
    <div class="modal-card noselect">
      <header class="modal-card-head">
          <a class="close button is-info is-inverted" aria-label="close">
            <span class="icon">
              <i class="fa fa-times"></i>
            </span>
          </a>
          <p class="modal-card-title" id="header">Add Roles</p>
          <button class="button is-info is-normal is-rounded" id="role-save-button">
            <span>Save changes</span>
          </button>
      </header>
      <section class="modal-card-body has-text-centered">
    
        <div>
            <h1><b style="margin-bottom: 3px; font-size: 20px;">Create Roles</b></h1>
            <div class="control has-icons-left has-icons-right">
                <input class="input is-normal" type="text" placeholder="Role Name" id="name">
                <span class="icon is-small is-left">
                  <i class="fas fa-user"></i>
                </span>
                <span class="icon is-small is-right">
                  <i class="fas fa-check"></i>
                </span>
            </div>

            <!--
              {% raw %}
            <select id="list" onchange="getSelectedValue();">
              {% for member in club.group.member %}
                {% if member_has_role(self, member, NULL) %}
                  <option value="{{member}}">{{member.username}}</option> 
                {% endif %}
              {% endfor %}
            </select>
            {% endraw %}
          -->
            
            <br>
            <div class="buttons-top">
                <div class="button-square">
                  <input class="card__input" type="checkbox" id="notif"/>
                  <div class="icon-box">
                    <span class="icon is-small">
                      <i class="fas fa-bell"></i>
                    </span>
                    <h5>Notifications</h5>
                  </div>
                </div>
                    
                <div class="button-square">
                  <input class="card__input" type="checkbox" id="invite"/>
                  <div class="icon-box">
                    <span class="icon is-small">
                      <i class="fas fa-user-plus"></i>
                    </span>
                    <h5>Invite new people</h5>
                  </div>
                </div>
                
                <div class="button-square">
                  <input class="card__input" type="checkbox" id="reject"/>
                  <div class="icon-box">
                    <span class="icon is-small">
                      <i class="fas fa-user-times"></i>
                    </span>
                    <h5>Reject members</h5>
                  </div>
                </div>
                
                <div class="button-square">
                  <input class="card__input" type="checkbox" id="roleCreator"/>
                  <div class="icon-box">
                    <span class="icon is-small">
                      <i class="fas fa-user-tag"></i>
                    </span>
                    <h5>Role Creator</h5>
                  </div> 
                </div>
            </div>
            <div class="buttons-down">

              <div class="button-square">
                <input class="card__input" type="checkbox" id="changeRole"/>
                <div class="icon-box">
                  <span class="icon is-small">
                    <i class="fas fa-users-cog"></i>
                  </span>
                  <h5>Change roles</h5>
                </div>
              </div>

              <div class="button-square">
                <input class="card__input" type="checkbox" id="edit"/>
                <div class="icon-box">
                  <span class="icon is-small">
                    <i class="fas fa-edit"></i>
                  </span>
                  <h5>Edit page</h5>
                </div>
              </div>

              <div class="button-square">
                <input class="card__input" type="checkbox" id="privatePost"/>
                <div class="icon-box">
                  <span class="icon is-small">
                    <i class="fas fa-lock"></i>
                  </span>
                  <h5>Post private</h5>
                </div>
              </div>
                
              <div class="button-square">
                <input class="card__input" type="checkbox" id="publicPost" />
                <div class="icon-box">
                  <span class="icon is-small">
                    <i class="fas fa-globe"></i>
                  </span>
                  <h5>Post public</h5>
                </div>
              </div>
            </div>
        </div>
        
        <div id="select-connections" class="vanish"></div>
    
        <div id="feedback-add-members" class="feedback">
            <div class="message"></div>
        </div>
        
        <br id="add-members-anchor">
      <div>
          
      </div>
      <br>
    </div>
    </section>
    </div>
    </div>