<!-- This template can also be used with javascript. Just include it with jinja and use the method called .replace to fill in the below variables.
 -->
<div class="subprofile box" data-name="{% if profile %}{% if profile.name %}{{profile.name}}{% else %}{{profile.username}}{% endif %}{% else %}\\name//{% endif %}" data-identifier="{% if profile %}{{profile.identifier}}{% else %}\\identifier//{% endif %}">
        <div class="subprofile-image-wrap">
        <a class="subprofile-image" {% if not without_link %}href="{% if profile %}{{profile.href}}{% else %}\\href//{% endif %}"{% endif %}>
            <img alt draggable="false" class="subprofile-image-content" src="{% if profile %}{{profile.photo.src}}{% else %}\\photo_src//{% endif %}">
        </a>
      </div>
        <div class="subprofile-content">
          <a class="subprofile-identity" {% if not without_link %}href="{% if profile %}{{profile.href}}{% else %}\\href//{% endif %}"{% endif %}>
            <span class="subprofile-name selectable"><b>{% if profile %}{% if profile.name %}{{profile.name}}{% else %}{{profile.username}}{% endif %}{% else %}\\name//{% endif %}</b></span>
            <br>
            <span class="subprofile-username selectable">{% if profile %}{{profile.tick}}{{profile.identifier}}{% else %}\\tick//\\identifier//{% endif %}</span>
          </a>
          <br>
        <span class="subprofile-bio selectable" maxlenght="30">{% if profile %}{% if profile.bio %}{{profile.bio}}{% endif %}{% else %}\\bio//{% endif %}</span>
      </div>
</div>