{% extends "base.html" %}
{% block modal %}
<div class="modal is-active">
	<div class="modal-background"></div>
	<div class="modal-card-container">
		<div class="modal-card noselect">

				<section class="modal-card-body has-text-centered">
				<span class="icon is-large"><i class="fas fa-mountain fas fa-2x" aria-hidden="true"></i></span>
				  <div class="title is-5 selectable">Log out of CTW?</div>
				  <div class="subtitle is-6 selectable">You can always log back in again later. If you just want to switch to a company account, you can do that by adding an existing company account.</div>
				  <div id="buttons">
					  <button class="button is-light is-normal is-rounded transition" id="cancel">
					    <span>Cancel</span>
					  </button>
					  <button class="button is-info is-normal is-rounded transition" id="logout">
					    <span>Log out</span>
					  </button>
				 </div>
				</section>
		</div>
	</div>
</div>
{% endblock %}
{% block scripts %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/auth/logout.css') }}">
<script src="{{ url_for('static', filename='js/auth/logout.js') }}"></script>
{% endblock %}
