{% extends "base.html" %}
{% block content %}
<div id="profile" class="container">
  <div id="profile-top" class="floater container">
    <div id="profile-left">
      <div id="profile-image">
        <a href="/idea/{{idea.handle}}/photo/">
        <img alt draggable="false" id="profile-image-content" src="{{ idea.profile_photo.src }}">
        </a>
      </div>
      <div id="profile-left-bottom">
        <p class="title is-4 selectable" style="color:black"><b>{{ idea.name }}</b></p>
        <p class="subtitle is-5 selectable" style="color:gray">${{ idea.handle }}</p>
      </div>
    </div>

    <div id="profile-right">
      <div id="profile-right-top">
        <div id="profile-bar" class="field">
          <div id="profile-bar-content">
            {% if idea not in current_user.ideas %}
              <button class="button is-info is-inverted" id="more-details-button"><span class="icon is-small"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></span></button>
              {% with request_sent = models.UserToIdeaRequest.query.filter_by(type='join', sender=current_user, receiver=idea).first(), request_received = models.ideaToUserRequest.query.filter_by(type='invite', sender=idea, receiver=current_user).first(), is_joined = idea in current_user.ideas %}
              <button id="join-button" class="button {% if is_joined %}is-info{% elif request_sent %} is-light {% elif request_received  %}is-success{% else %}is-link{% endif %}" data-type="{% if is_joined %}joined{% elif request_sent %}pending{% elif request_received %}accept{% else %}default{% endif %}">
                {% if is_joined %}
                  {% include 'profiles/join-button/joined.html' %}
                {% elif request_sent %}
                  {% include 'profiles/join-button/pending.html' %}
                {% elif request_received %}
                  {% include 'profiles/join-button/accept.html' %}
                {% else %}
                  {% include 'profiles/join-button/default.html' %}
                {% endif %}
              </button>
              {% endwith %}
              {% endif %}

              {% if idea.group.member_has_permission(current_user,"permissionToEditPage") %}
                <button class="button is-info is-inverted" id="edit-button" href="/settings/profile/">Edit Idea</button>
              {% endif %}
          </div>
          <br style="clear: both;">
        </div>
        <div id="profile-bio" class="selectable">
        <p style="color:black"> {% if idea.description %}{{idea.description}}{% endif %} </p>
        </div>
      </div>
      <div id="profile-right-bottom">
        {% if idea.address %}
        <div id="profile-address">
          <span class="icon is-small"><i class="fa fa-map-marker" aria-hidden="true"></i></span><span class="selectable">{{idea.address}}</span>
        </div>
        {% endif %}
      </div>
    </div>
    <br style="clear: both;">
  </div>
  <!-- 
  {% raw %}
  {% if idea.skills.all() %}
  <div id="profile-skills" class="container">
    {% for skillrow in skillrows %}
    <div class="profile-skill-row">
    {% for skill in skillrow %}
      <div class="profile-skill" style="color: {{skill_aspects[skill.title]['color']}}; background-color: {{skill_aspects[skill.title]['background-color']}};"><span>{{skill.title}}</span></div>
    {% endfor %}
    </div>
    {% endfor %}
  </div>
  {% endif %}
  {% endraw  %}
  -->
{% include 'profiles/idea/key-info.html' %}
{% include "profiles/idea/tabs/tabs.html" %}

{% endblock %}

{% block modal %}
{% if request.url_rule.endpoint == 'profiles.edit_idea' %}
{% include "profiles/idea/edit.html" %}
{% elif request.url_rule.endpoint == 'profiles.idea_photo' %}
{% with photo_src=idea.profile_photo.src %}
{% include "profiles/user/photo.html" %}
{% endwith %}
{% elif request.url_rule.endpoint == 'profiles.idea_add_members' %}
{% include "profiles/add-members.html" %}
{% elif request.url_rule.endpoint == 'profiles.idea_add_roles' %}
{% include "profiles/add-roles.html" %}
{% endif %}

{% endblock %}

{% block scripts %}
<!-- Probably good for now to have this below-->

<link rel="stylesheet" href="/static/css/profiles/profile.css">
<link rel="stylesheet" href="/static/css/profiles/idea/idea.css">

<link rel="stylesheet" href="/static/css/profiles/mini-profile.css">
<link rel="stylesheet" href="/static/css/profiles/edit.css">
<link rel="stylesheet" href="/static/css/profiles/photo.css">
<link rel="stylesheet" href="/static/css/profiles/add-members.css">
<link rel="stylesheet" href="/static/css/profiles/add-roles.css">
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"/>
<!-- Probably good for now to have this below-->
<script src="/static/js/profiles/profile.js"></script>
<script src="/static/js/profiles/user/profile.js"></script>
<script src="/static/js/profiles/idea/profile.js"></script>
<script src="/static/js/profiles/idea/edit.js"></script>
<script src="/static/js/profiles/configure-skills.js"></script>
<script src="/static/js/feedback.js"></script>
<script src="/static/js/load-image.js"></script>
<script src="/static/js/datepicker.js"></script>
<script src="/static/js/profiles/add-members.js"></script>

<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
<script type="text/javascript">

  var handle = "{{idea.handle}}";

  function makeConnectButtonDefault() {
    $('#join-button').addClass('is-info');
    $('#join-button').removeClass('is-light').removeClass('is-link');
    $('#join-button').html(`{% include 'profiles/join-button/default.html' %}`);
    $('#join-button').data('type', 'default');
    $('#join-button').removeClass('is-danger');
    
  }

  function makeConnectButtonPending() {
    $('#join-button').toggleClass('is-info is-light');
    $('#join-button').html(`{% include 'profiles/join-button/pending.html' %}`);
    $('#join-button').data('type', 'pending');
    $('#join-button').addClass('calm');
  }

  function makeConnectButtonConnected() {
    $('#join-button').toggleClass('is-success is-info');
    $('#join-button').html(`{% include 'profiles/join-button/joined.html' %}`);
    $('#join-button').data('type', 'joined');
    $('#join-button').addClass('calm');
  }

$("#join-button").hover(
  function() {
        if ($(this).data('type') == 'joined' && !$(this).hasClass('calm')) {
          $(this).addClass('is-danger');
          $(this).html(`{% include 'profiles/join-button/leave.html' %}`);
        }
        else if ($(this).data('type') == 'pending' && !$(this).hasClass('calm')) {
          $(this).addClass('is-danger');
          $(this).html(`{% include 'profiles/join-button/undo.html' %}`);

    }
  }, function() {
        if ($(this).data('type') == 'joined') {
          $(this).removeClass('is-danger');
          $(this).html(`{% include 'profiles/join-button/joined.html' %}`);
          $(this).removeClass('calm');

        }
        else if ($(this).data('type') == 'pending') {
          $(this).removeClass('is-danger');
          $(this).removeClass('calm');
          $(this).html(`{% include 'profiles/join-button/pending.html' %}`);

        }
  }
);
 

</script>
<script type="text/javascript">
  var handle = "{{idea.handle}}";

  function load_map_js() {
  var map = L.map('map').setView({% if idea.latitude and idea.longitude %}[{{idea.latitude}}, {{idea.longitude}}], 12{% else %}[55.676111, 12.568333], 2{% endif %});
         
         //CartoDB layer names: light_all / dark_all / light_nonames / dark_nonames
         layer = L.tileLayer('http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, &copy; <a href="http://cartodb.com/attributions">CartoDB</a>',
            subdomains: 'abcd',
            maxZoom: 13,
            minZoom: 2
         }).addTo(map);
         // Create additional Control placeholders
var markerGroup = L.layerGroup().addTo(map);

map.on('click', function(e){
    placeMarker(e.latlng);
    getAddress(e.latlng);
});

var marker;

{% if idea.latitude and idea.longitude %}
  marker = new L.marker([{{idea.latitude}}, {{idea.longitude}}]).addTo(markerGroup);
{% endif %}

window.getLatLng = function() {
  return(marker.getLatLng());
}

window.markerIsPlaced = function() {
  if (marker) {
    return(true);
  }
  return(false);
}

function placeMarker(latlng, zoom_all_in=false) {
  markerGroup.clearLayers();
    marker = new L.marker(latlng).addTo(markerGroup);
    if (zoom_all_in) {
      map.flyTo(latlng, 13);
    }
    else {
    map.flyTo(latlng, map.getZoom());
    }
    //map.flyTo(latlng, Math.min(13,map.getZoom()+1));
    //map.flyTo(latlng, 13);
    //if(map.getZoom()===2){map.flyTo(e.latlng, 13);}else{map.flyTo(e.latlng, map.getZoom());}
    console.log(latlng);
}

  function addControlPlaceholders(map) {
    var corners = map._controlCorners,
        l = 'leaflet-',
        container = map._controlContainer;

    function createCorner(vSide, hSide) {
        var className = l + vSide + ' ' + l + hSide;

        corners[vSide + hSide] = L.DomUtil.create('div', className, container);
    }

    createCorner('verticalcenter', 'left');
    createCorner('verticalcenter', 'right');
}

addControlPlaceholders(map);

// Change the position of the Zoom Control to a newly created placeholder.
map.zoomControl.setPosition('bottomright');

// You can also put other controls in the same placeholder.

var proIcon = L.icon({
    iconUrl: 'static/images/pro-pic.png',

    iconSize:     [25, 25], // size of the icon
    iconAnchor:   [12.5, 12.5], // point of the icon which will correspond to marker's location
    popupAnchor:  [-2, 0] // point from which the popup should open relative to the iconAnchor
});

function getAddress(latlng) {
  console.log(latlng);
  var formData = new FormData();
  formData.append('lat', latlng.lat);
  formData.append('lng', latlng.lng);
  $.post({
      type: "POST",
      url: "/get/address/",
      data: formData,
      processData: false,
      contentType: false,
      success(response) {
        var response = JSON.parse(response);
        var status = response["status"];
        if (status === "success") {stopErrorAlert("location-field");
  stopErrorAlert("map");$("#location-field").val(response["address"])}
        else{console.log("WUUUT"); $("#location-field").val(""); alertError("map");}
        
      }});
}

function getCoordinates() {
  var formData = new FormData();
  formData.append('address', $("#location-field").val());
  $.post({
      type: "POST",
      url: "/get/coordinates/",
      data: formData,
      processData: false,
      contentType: false,
      success(response) {
        var response = JSON.parse(response);
        var status = response["status"];
        if (status === "success") {stopErrorAlert("location-field");
  stopErrorAlert("map");placeMarker([response["lat"],response["lng"]]);}
        else{console.log("WWW");alertError("location-field");}
      }});
}

$(document).on('focusout', '#location-field', function() {
  console.log("coord");
  getCoordinates();
});

$('#location-field').keypress(function(event){
  if(event.keyCode == 13){
    console.log("coord");
    getCoordinates();
  }
});

$('#show-location').change(function() {
        if($(this).is(":checked")) {
            console.log("checked");
          $('#location-settings').removeClass("vanish");
        }
        else {
           console.log("unchecked");
          $('#location-settings').addClass("vanish");
        }
       });

if(!$('#show-location').is(":checked")) {
  $('#location-settings').addClass("vanish");
  }

}

{% if request.url_rule.endpoint in ['profiles.edit_idea','profiles.create_idea','profiles.create_idea']  %}
load_map_js();
{% endif %}
</script>
<script type="text/javascript">
  function sendInvites() {
    sendideaInvites();
  }

function sendideaInvites() {
  var formData = new FormData();
    var usernames = JSON.stringify($("#add-members-tags-container").children().toArray().map( element => $(element).data('username')));
    console.log(usernames);
   formData.append("usernames", usernames);
   formData.append("do", true)

    $.post({
      type: "POST",
      url: "/$"+handle+"/invite/",
      data: formData,
      processData: false,
      contentType: false,
      success(response) {
        var response = JSON.parse(response);
        var status = response["status"];
        if (status === "success") { location.replace("/$"+response["handle"]+"/"); }
        else{message(status, response["box_id"], true);}
        
      }});
}

{% if request.url_rule.endpoint in ['profiles.idea_add_members']  %}
load_add_members_js();
{% endif %}
</script>
<script type="text/javascript">

  $(document).on('click', '#profile-image a', function(e) {
    redirect({id:"idea-photo"},"Profile photo", "/${{idea.handle}}/photo/", changeToPhoto);
      e.preventDefault();
  });


  $(document).on('click', '#edit-button', function(e) {
    redirect({id:"edit-idea"},"Edit idea", "/$"+handle+"/edit/", changeToEdit);
    e.preventDefault();
  });

  $(document).on('click', '#members-button', function(e) {
    redirect({id:"idea-members"},"idea members", "/$"+handle+"/members/", changeToMembers);
    e.preventDefault();
  });

  $(document).on('click', '#roles-button', function(e) {
    redirect({id:"idea-roles"},"Idea Roles Permission", "/$"+handle+"/roles/", changeRoles);
    e.preventDefault();
  });

$(document).on('click', '.close', function() {
  redirect({id:"idea-profile"}, "Profile", "/${{idea.handle}}/", changeToProfile);
});

$(document).on('click', '.modal-background', function() {
    redirect({id:"idea-profile"}, "Profile", "/${{idea.handle}}/", changeToProfile);
});

$(window).on("popstate", function() {
  if (window.history.state.id == "edit-idea") {
    changeToEdit()
  }
  else if (window.history.state.id == "idea-profile") {
    changeToProfile();
  }

  else if (window.history.state.id == "idea-photo") {
    changeToPhoto();
  }

  else if (window.history.state.id == "idea-add-members") {
    changeToMembers();
  }

  else if (window.history.state.id == "idea-roles") {
    changeRoles();
  }


});

function changeToEdit() {
  $("#modal-box").append(`
    {% include "profiles/idea/edit.html" %}`);
  load_map_js();
  $(document.body).addClass('noscroll');
}

function changeToProfile() {
  $("#modal-box").empty();
  unfreezeScroller();
}

function changeToPhoto() {
  $("#modal-box").append(`
    {% with photo_src=idea.profile_photo.src %}
    {% include "photo.html" %}
    {% endwith %}
    `);
  $(document.body).addClass('noscroll');
}

function changeToMembers() {
  $("#modal-box").append(`
    {% include "profiles/add-members.html" %}`);
    load_add_members_js();
  $(document.body).addClass('noscroll');
}

function changeRoles() {
  $("#modal-box").append(`
    {% include "profiles/add-roles.html" %}`);
  load_add_members_js()
  $(document.body).addClass('noscroll');
}


{% if request.url_rule.endpoint == 'profiles.edit_idea' %}
window.history.replaceState({id:"edit-idea"},"Edit idea", "/${{idea.handle}}/edit/");
{% elif request.url_rule.endpoint == 'profiles.idea_photo' %}
window.history.replaceState({id:"idea-photo"},"Profile photo", "/${{idea.handle}}/");
{% elif request.url_rule.endpoint == 'profiles.idea_add_members' %}
window.history.replaceState({id:"idea-add-members"},"idea add members", "/${{idea.handle}}/add-members/");
{% elif request.url_rule.endpoint == 'profiles.idea_roles' %}
window.history.replaceState({id:"idea-add-roles"},"Idea add roles", "/${{idea.handle}}/add-roles/");
{% else %}
window.history.replaceState({id:"idea-profile"},"Profile", "./");
{% endif %}
</script>
{% endblock %}