select option[disabled] {
    display: none;
}


#skills div {
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  display: inline-block;
}

#skills {
    text-align: middle;
}

#skills:empty {
  width: 0px;
  height: 0px;
}

#skill-select-form {
  margin-top: 5px;
}