.is-cloudy {
	background-color: rgba(255,255,255,0.9) !important;
	transition: 0.3s;
}

.profile-skill {
	text-overflow: ellipsis;
	overflow: hidden;
	 white-space: nowrap;
display: inline-block;
  height: 50px;
  width: 100%;
  padding: 10px;
  background-color: orange;
  text-align:center;
  border-radius: 5px;
font-size: 20px;
font-weight: 500;
font-family: Universe, "Helvetica Neue",sans-serif;
  margin: auto !important;
  	transition: 0.3s;

}

.add-specific-button {
	border: solid 2px lightgray;
	color: darkgray;
	height: 50px;
  width: 100%;
  line-height: 50px;
    text-align:center;
      border-radius: 5px;
      font-size: 20px;
      font-weight: 500;
        margin: auto !important;
        	  	transition: 0.3s;
        	  	margin-top: 10px !important;


}

.add-specific-button:hover {
	color: black;
	background-color: rgba(200,200,200,0.25);

  	 cursor: pointer;
}

#profile-material-tabs ul li a {
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-bottom-width: 0px;
	transition: 0.3s;
}

#profile-hide-tabs ul li a {
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	transition: 0.3s;
}

#profile-tabs-content {
	height: 500px;
	padding: 10px;
	padding-top: 0px;
	min-height: 0px;
	transition: 0.3s;
}

.profile-associate {
	margin-top: 10px;
}


#profile-birthdate {
	margin-top: 10px;
}

#profile-address span, #profile-birthdate span {
	margin-right: 5px;
	color: gray;
}

#connect-button {
	transition: 0.3s;
}

#profile-address {
	width: 200px; white-space: nowrap; color: black; text-overflow: ellipsis; overflow: hidden;
}

#profile-birthdate + #profile-address {
	margin-top: 5px;
}

#profile-bio {
	word-wrap: break-word;
	margin-bottom: 60px;
	overflow-y: auto;
	max-height:150px;

}

#private{
	font-size: 30px;
	font-style: normal;
	text-align: center;
	color: black;
	margin-top: 30%;
	font-weight: bolder;
}

#private> img{
	width: 5%;
	height: auto;
}

.profile-skill:hover {
	-webkit-filter: brightness(87.5%);
  	 filter: brightness(87.5%);
  	 cursor: pointer;
}

#edit {
	transition: 0.3s;
}

#profile {
	width: 100%;
	max-width: 750px;
	margin-top: auto;
}

#profile-top {
	background-color: rgba(255,255,255,0.9);
	padding: 10px;
	border-radius: 10px;
	max-width: 750px;
	margin-bottom: 5px;
	display: flex;
	min-height: 200px;
}

.profile-skill-row {
	display: grid;
		grid-auto-flow: column;
		grid-column-gap: 5px;
	width: 100%;
}

.profile-skill-row + .profile-skill-row {
		margin-top: 5px;

}

#profile-skills {
	width: 100%;
	padding: 5px;
	background-color: rgba(255,255,255,0.9);
	border-radius: 5px;
	margin-bottom: 5px;
	max-width: 750px;
}

#profile-tabs {
	background-color: rgba(255,255,255,0.9);
	max-width: 750px;
	border-radius: 5px;
	margin-bottom: 5px;
}

#profile-tabs .tabs {
	width: 100%;
	margin: 0;
}


#profile-left {
	width: 50%;
	float: left;
	max-width: 255px;
}

#profile-image {
	left: 0;
}

.current-user-photo {
	aspect-ratio: 1/1;
}

#profile-image {width: 100%;
	max-width: 250px;
margin-bottom: 55px;}

#profile-image-content {
	width: 100%;
	max-width: 250px;
	border-radius: 100%;
	transition: 0.3s;
	border: solid rgba(0, 0, 0, 0.04) 0.1px;
	aspect-ratio: 1/1;

}



#profile-image-content:hover {
	-webkit-filter: brightness(85%);
  	 filter: brightness(85%);
  	 cursor: pointer;
  	 	border: solid rgba(0, 0, 0, 0.138) 0.1px;

}

#profile-right {
	float:right;
		padding-left: 10px;
		width: 50%;
	flex-grow: 1;

}

#profile-right-bottom {
	position: absolute; 
                bottom: 10px; 
                padding-right: 10px;
    right: 0px;
    text-align: right;
}

#profile-left-bottom {
	position: absolute; 
                bottom: 10px; 
                padding-left: 10px;
    left: 0px;
}

#profile-bar {
	width: 100%;
	padding-bottom: 5px;
	border-bottom: solid rgb(200,230,255) 2px;
	height: 50px;
}

#profile-bar-content button {
	border-radius: 100px;
	border: solid #3298dc 1px;
}


#profile-bar-content {
	float: right;
}

#background {
	padding-top: 10px;
	padding-bottom: 0px;
}


@media (max-width:500px) {
  .profile {
    height: auto;
      min-height: 100%;
    width: 100%;
  border-radius: 0px;
}

#background {
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
}

#profile-address {
		width: 150px;
	}

#profile-skills {
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.profile-skill-row {

		grid-column-gap: 5px;}

#profile-top, #profile-skills { border-radius: 0px;}


#profile-top, #profile-tabs, #profile-skills {
	background-color: rgba(255,255,255,0.75);
}

.add-specific-button {
	border: solid 2px silver;
	color: gray;
}

.profile-skill:first-child {
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}

.profile-skill:last-child {
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
}

.profile-skill-row + .profile-skill-row {
		margin-top: 5px;

}

}
/*

For tabs

*/


@media (max-width:590px) {
	#profile-tabs .tabs {
	font-size: 1.2em;
}

}

@media (max-width:500px) {

	.tabtext {
		display: none;
	}

	#profile-tabs .tabs {
	font-size: 1.5em;
	}
}

@media (max-width:408px) {
	#connect-button span.text {
		display: none;
	}

	#connect-button span.icon {
		margin: 0 auto;
	}
	}

@media (max-width:327px) {
	#profile-tabs .tabs {
	font-size: 1.5em;
	}
}
