<div class="modal is-active">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head" style="padding-left:7.5px;padding-right: 10px;">
      <a class="close button is-info is-inverted" aria-label="close" style="margin-right:10px;">
        <span class="icon">
          <i class="fa fa-times"></i>
        </span>
      </a>
      <p class="modal-card-title">{% if card_title %}{{card_title}}{% else %}Create Medium{% endif %}</p>
      <button class="button transition is-light is-info is-rounded show-hidden-selector-on-hover" id="save-draft-button" hidden-selector="p" disabled><p class="invisible" style="margin-right:10px;">Draft</p><span class="icon is-small" style="margin-left:-10px;"><i class="fas fa-save" aria-hidden="true"></i></span></button>
    </header>
    <section class="modal-card-body">
      <input id="title-create" class="input" type="location" placeholder='Title' style="margin-bottom: 10px;">
      <textarea id="text-create" class="textarea has-fixed-size" type="location" placeholder='Text (optional)' style="margin-bottom: 10px;"></textarea>
      {% block quote_html %}
      {% endblock %}
    </section>
    <footer class="modal-card-foot" style="justify-content: flex-end; padding:7.5px;">
    <button class="submit-button button transition is-link is-rounded show-hidden-selector-on-hover" id={% block submit_button_id %}"submit-button"{% endblock %} hidden-selector="p" disabled><p class="invisible" style="margin-right:10px;">Publish</p><span class="icon is-small" style="margin-left: -10px;"><i class="fas fa-paper-plane" aria-hidden="true"></i></span></button>
    </footer>
  </div>
</div>