{% extends "base.html" %}
{% block content %}
<div id="notification-box" class="floater container">
  <div id="notification-top">
    <p class="title selectable" id="notification-title">Notifications</p>
  </div>
  <div id="notifications">
    {% for notification in notifications %}
    {% include 'comms/notifications/notif.html' %}
    {% endfor %}
  </div>
</div>
{% endblock %}

{% block scripts %}
<link rel="stylesheet" href="/static/css/notifications.css">
<script src="/static/js/notifications.js"></script>
{% endblock %}