{% extends "base.html" %}
{% block content %}
<div id="profile" class="container">
  <div id="profile-top" class="floater container">
    <div id="profile-left">
      <div id="profile-image">
        <a href="/user/{{user.username}}/photo/">
        <img alt draggable="false" class="{% if user == current_user %}current-user-photo{% endif %}" id="profile-image-content" src="{{ user.photo.src }}">
        </a>
      </div>
      <div id="profile-left-bottom">
        <p class="title is-4 selectable {% if user == current_user %}current-user-name{% endif %}" style="color:black"><b>{% if user.name %}{{ user.name }}{% else %}{{ user.username }}{% endif %}</b></p>
        <p class="subtitle is-5 selectable {% if user == current_user %}current-user-handle{% endif %}" style="color:gray">@{{ user.username }}</p>
      </div>
    </div>

    <div id="profile-right">
      <div id="profile-right-top">
        <div id="profile-bar" class="field">
          <div id="profile-bar-content">
            {% if user != current_user and current_user.is_authenticated %}
              <div id="more-details-dropdown" class="dropdown">
                <div class="dropdown-trigger">
                  <button class="button is-info is-inverted" id="more-details-button" aria-haspopup="true" aria-controls="dropdown-menu"><span class="icon is-small"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></span></button>
                </div>
                <div class="dropdown-menu" id="dropdown-menu" role="menu">
                  <div class="dropdown-content">
                    <a href="/message/{{user.username}}/" class="dropdown-item">
                      <span class="text">Message</span><span class="icon">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                      </span>
                    </a>
                    <a class="dropdown-item">
                      Other dropdown item
                    </a>
                    <hr class="dropdown-divider">
                    <a href="#" class="dropdown-item">
                      <span class="text">Report</span><span class="icon">
                        <i class="fa fa-flag" aria-hidden="true"></i>
                      </span>
                    </a>
                  </div>
                </div>
              </div>

              {% with request_sent = models.UserToUserRequest.query.filter_by(type='ally', sender=current_user, receiver=user).first(), request_received = models.UserToUserRequest.query.filter_by(type='ally', sender=user, receiver=current_user).first(), is_allied = user in current_user.allies %}
              <button id="connect-button" class="button {% if is_allied %}is-info{% elif request_sent %} is-light {% elif request_received  %}is-success{% else %}is-link{% endif %}" data-type="{% if is_allied %}connected{% elif request_sent %}pending{% elif request_received %}accept{% else %}default{% endif %}">
                {% if is_allied %}
                  {% include 'profile/user/connect-button/connected.html' %}
                {% elif request_sent %}
                  {% include 'profile/user/connect-button/pending.html' %}
                {% elif request_received %}
                  {% include 'profile/user/connect-button/accept.html' %}
                {% else %}
                  {% include 'profile/user/connect-button/default.html' %}
                {% endif %}
              </button>
              {% endwith %}
            {% else %}
              <button class="button is-info is-inverted" id="edit-button" href="/settings/profile/">Edit profile</button>
              {% endif %}
          </div>
          <br style="clear: both;">
        </div>
        <div id="profile-bio" class="selectable">
        <p style="color:black"> {% if user.bio %}{{user.bio}}{% endif %} </p>
        </div>
      </div>
      <div id="profile-right-bottom">
        <div id="profile-birthdate" style="color: black;">
          <span class="icon is-small"><i class="fa fa-birthday-cake" aria-hidden="true"></i></span><span class="selectable">{{user.birthdate.year}}-{{user.birthdate.month}}-{{user.birthdate.day}}</span>
        </div>
        {% if user.address %}
        <div id="profile-address">
          <span class="icon is-small"><i class="fa fa-map-marker" aria-hidden="true"></i></span><span class="selectable">{{user.address}}</span>
        </div>
        {% endif %}
      </div>
    </div>
    <br style="clear: both;">
  </div>
  <div id="profile-skills-container"> 
  {% if user.skills.all() %}
    {% with skillrows = user.skillrows %}
        {% include 'profile/skill-bar.html' %}
    {% endwith %}
  {% endif %}
  </div>

<div class="control has-icons-left">
<div id="wallet-select" class="select is-centered is-fullwidth is-medium" style="color: black;margin-bottom: 5px; border-radius: 10px;">
  <select style="color: black;" class="is-cloudy">
    <option>0x49a71890aea5A751E30e740C504f2E9683f347bC</option>
    <option>0x49a71890aea5A751E30e740C504f2E9683f347bC</option>
  </select>
</div>
<span class="icon is-large is-left">
    <i class="fas fa-wallet"></i>
  </span>
</div>
{% include "profile/user/tabs/tabs.html" %}
{% with vanish=True, create_bar = user == current_user, wall=user.wall, by="new" %}
{% include 'comms/wall/wall-bit.html' %}
{% endwith %}
{% endblock %}

{% block modal %}
{% if request.url_rule.endpoint == 'profile.edit_user' %}
{% include "profile/user/edit.html" %}
{% elif request.url_rule.endpoint == 'profile.user_photo' %}
{% with photo_src = user.photo.src %}
{% include "photo.html" %}
{% endwith %}
{% elif request.url_rule.endpoint == 'erc360.create' %}
{% include "erc360/create.html" %}
{% elif request.url_rule.endpoint == 'profile.create_medium' %}
{% include "profile/user/create-medium.html" %}
{% endif %}

{% endblock %}

{% block head %}
<link rel="stylesheet" href="/static/css/comms/medium.css">
<link rel="stylesheet" href="/static/css/profile/profile.css">
<link rel="stylesheet" href="/static/css/profile/mini-profile.css">
<link rel="stylesheet" href="/static/css/profile/edit.css">
<link rel="stylesheet" href="/static/css/profile/user/edit.css">
<link rel="stylesheet" href="/static/css/profile/photo.css">
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"/>
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='js/comms/medium.js') }}"></script>
<script src="/static/js/comms/search-filter-bar.js"></script>
<script src="/static/js/profile/profile.js"></script>
<script src="/static/js/profile/user/profile.js"></script>
<script src="/static/js/profile/user/edit.js"></script>
<script src="{{ url_for('static', filename='js/profile/user/create-medium.js') }}"></script>
<script src="{{ url_for('static', filename='js/profile/user/create-medium-with-quote.js') }}"></script>
<script src="{{ url_for('static', filename='js/profile/user/delete-medium.js') }}"></script>
<script src="/static/js/erc360/create.js"></script>
<script src="/static/js/profile/configure-skills.js"></script>
<script src="/static/js/feedback.js"></script>
<script src="/static/js/load-image.js"></script>
<script src="/static/js/datepicker.js"></script>
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
<script type="text/javascript">

  var profile_is_current_user = {{"true" if user == current_user else "false"}};

  function makeConnectButtonDefault() {
    $('#connect-button').addClass('is-info');
    $('#connect-button').removeClass('is-light').removeClass('is-link');
    $('#connect-button').html(`{% include 'profile/user/connect-button/default.html' %}`);
    $('#connect-button').data('type', 'default');
    $('#connect-button').removeClass('is-danger');
    
  }

  function makeConnectButtonPending() {
    $('#connect-button').toggleClass('is-info is-light');
    $('#connect-button').html(`{% include 'profile/user/connect-button/pending.html' %}`);
    $('#connect-button').data('type', 'pending');
    $('#connect-button').addClass('calm');
  }

  function makeConnectButtonConnected() {
    $('#connect-button').toggleClass('is-success is-info');
    $('#connect-button').html(`{% include 'profile/user/connect-button/connected.html' %}`);
    $('#connect-button').data('type', 'connected');
    $('#connect-button').addClass('calm');
  }

$("#connect-button").hover(
  function() {
        if ($(this).data('type') == 'connected' && !$(this).hasClass('calm')) {
          $(this).addClass('is-danger');
          $(this).html(`{% include 'profile/user/connect-button/disconnect.html' %}`);
        }
        else if ($(this).data('type') == 'pending' && !$(this).hasClass('calm')) {
          $(this).addClass('is-danger');
          $(this).html(`{% include 'profile/user/connect-button/undo.html' %}`);

    }
  }, function() {
        if ($(this).data('type') == 'connected') {
          $(this).removeClass('is-danger');
          $(this).html(`{% include 'profile/user/connect-button/connected.html' %}`);
          $(this).removeClass('calm');

        }
        else if ($(this).data('type') == 'pending') {
          $(this).removeClass('is-danger');
          $(this).removeClass('calm');
          $(this).html(`{% include 'profile/user/connect-button/pending.html' %}`);

        }
  }
);
 

</script>
<script type="text/javascript">
  var username = "{{user.username}}";
  var has_marker = {% if user.latitude and user.longitude %}true{% else %}false{% endif %};
  var mapLatLng = {% if user.latitude and user.longitude %}[{{user.latitude}}, {{user.longitude}}]{% else %}[55.676111, 12.568333]{% endif %};
  var mapZoom = {% if user.latitude and user.longitude %}12{% else %}2{% endif %};

  function load_map_js() {
  var map = L.map('map').setView(mapLatLng, mapZoom);
         
         //CartoDB layer names: light_all / dark_all / light_nonames / dark_nonames
         layer = L.tileLayer('http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, &copy; <a href="http://cartodb.com/attributions">CartoDB</a>',
            subdomains: 'abcd',
            maxZoom: 13,
            minZoom: 2
         }).addTo(map);
         // Create additional Control placeholders
var markerGroup = L.layerGroup().addTo(map);

map.on('click', function(e){
    placeMarker(e.latlng);
    getAddress(e.latlng);
});


window.getLatLng = function() {
  if (marker) {return(marker.getLatLng());}
}

window.markerIsPlaced = function() {
  if (marker) {
    return(true);
  }
  return(false);
}

if (window.markerIsPlaced() || has_marker) {
var marker;
marker = new L.marker(mapLatLng).addTo(markerGroup);
}

function placeMarker(latlng, zoom_all_in=false) {
  markerGroup.clearLayers();
    marker = new L.marker(latlng).addTo(markerGroup);
    if (zoom_all_in) {
      map.flyTo(latlng, 13);
    }
    else {
    map.flyTo(latlng, map.getZoom());
    }
    //map.flyTo(latlng, Math.min(13,map.getZoom()+1));
    //map.flyTo(latlng, 13);
    //if(map.getZoom()===2){map.flyTo(e.latlng, 13);}else{map.flyTo(e.latlng, map.getZoom());}
    console.log(latlng);
}

  function addControlPlaceholders(map) {
    var corners = map._controlCorners,
        l = 'leaflet-',
        container = map._controlContainer;

    function createCorner(vSide, hSide) {
        var className = l + vSide + ' ' + l + hSide;

        corners[vSide + hSide] = L.DomUtil.create('div', className, container);
    }

    createCorner('verticalcenter', 'left');
    createCorner('verticalcenter', 'right');
}

addControlPlaceholders(map);

// Change the position of the Zoom Control to a newly created placeholder.
map.zoomControl.setPosition('bottomright');

// You can also put other controls in the same placeholder.

var proIcon = L.icon({
    iconUrl: 'static/images/pro-pic.png',

    iconSize:     [25, 25], // size of the icon
    iconAnchor:   [12.5, 12.5], // point of the icon which will correspond to marker's location
    popupAnchor:  [-2, 0] // point from which the popup should open relative to the iconAnchor
});

function getAddress(latlng) {
  console.log(latlng);
  var formData = new FormData();
  formData.append('lat', latlng.lat);
  formData.append('lng', latlng.lng);
  $.post({
      type: "POST",
      url: "/get/address/",
      data: formData,
      processData: false,
      contentType: false,
      success(response) {
        var response = JSON.parse(response);
        var status = response["status"];
        if (status === "success") {stopErrorAlert("location-field");
  stopErrorAlert("map");$("#location-field").val(response["address"])}
        else{console.log("WUUUT"); $("#location-field").val(""); alertError("map");}
        
      }});
}

function getCoordinates() {
  var formData = new FormData();
  formData.append('address', $("#location-field").val());
  $.post({
      type: "POST",
      url: "/get/coordinates/",
      data: formData,
      processData: false,
      contentType: false,
      success(response) {
        var response = JSON.parse(response);
        var status = response["status"];
        if (status === "success") {stopErrorAlert("location-field");
  stopErrorAlert("map");$('#location-field').val(response["address"]);placeMarker([response["lat"],response["lng"]]);}
        else{console.log("WWW");alertError("location-field");}
      }});
}

$(document).on('focusout', '#location-field', function() {
  console.log("coord");
  getCoordinates();
});

$('#location-field').keypress(function(event){
  if(event.keyCode == 13){
    console.log("coord");
    getCoordinates();
  }
});

$('#show-location').change(function() {
        if($(this).is(":checked")) {
            console.log("checked");
          $('#location-settings').removeClass("vanish");
        }
        else {
           console.log("unchecked");
          $('#location-settings').addClass("vanish");
        }
       });

if(!$('#show-location').is(":checked")) {
  $('#location-settings').addClass("vanish");
  }

}

{% if request.url_rule.endpoint in ['profile.edit_user','profile.create_erc360']  %}
load_map_js();
{% endif %}
</script>
<script type="text/javascript">

  $(document).on('click', '#profile-image a', function(e) {
    redirect({id:"user-photo"},"Profile photo", "/user/{{user.username}}/photo/", changeToPhoto);
      e.preventDefault();
  });


  $(document).on('click', '#edit-button', function(e) {
    redirect({id:"edit-user"},"Edit profile", "/settings/profile/", changeToEdit);
    e.preventDefault();
  });


     $(document).on('click', '#create-erc360-button', function(e) {
    redirect({id:"create-erc360"},"Create erc360", "/create/erc360/", changeToCreateERC360);
    e.preventDefault();
  });

$(document).on('click', '.close', function() {
  redirect({id:"user-profile"}, "Profile", "/user/{{user.username}}/", changeToProfile);
});

$(document).on('click', '.modal-background', function() {
    redirect({id:"user-profile"}, "Profile", "/user/{{user.username}}/", changeToProfile);
});

$(document).on('focus', '#create-bar-medium', function() {
    redirect({id:"create-medium"}, "Create Medium", "/create/medium/", changeToCreateMedium);
  });

$(window).on("popstate", function() {
  if (window.history.state.id == "edit-user") {
    changeToEdit();
  }
  else if (window.history.state.id == "user-profile") {
    changeToProfile();
  }

  else if (window.history.state.id == "user-photo") {
    changeToPhoto();
  }


  else if (window.history.state.id == "create-erc360") {
    changeToCreateERC360();
  }

  else if (window.history.state.id == "create-medium") {
      changeToCreateMedium();
  }

});

var edit_modal = `
    {% include "profile/user/edit.html" %}`;

function changeToEdit() {
  $("#modal-box").append(edit_modal);
  freezeScroller();
  load_map_js();
}

function changeToProfile() {
  $("#modal-box").empty();
  unfreezeScroller();
}

function changeToPhoto() {
  $("#modal-box").append(`
    {% with photo_src=user.photo.src %}
    {% include "photo.html" %}
    {% endwith %}
    `);
  freezeScroller();
}


function changeToCreateERC360() {
    $("#modal-box").append(`
    {% include "erc360/create.html" %}`);
  load_map_js();
  freezeScroller();
}


{% if request.url_rule.endpoint == 'profile.edit_user' %}
window.history.replaceState({id:"edit-user"},"Edit profile", "/settings/profile/");
{% elif request.url_rule.endpoint == 'profile.user_photo' %}
window.history.replaceState({id:"user-photo"},"Profile photo", "/user/{{user.username}}/");
{% elif request.url_rule.endpoint == 'profile.create_erc360' %}
window.history.replaceState({id:"create-erc360"},"Create erc360", "/create/erc360/");
{% elif request.url_rule.endpoint == 'profile.create_medium' %}
window.history.replaceState({id:"create-medium"},"Create Medium", "/create/medium/");
{% else %}
window.history.replaceState({id:"user-profile"},"Profile", "./");
{% endif %}
</script>
{% endblock %}