.entity {
	margin: 0px !important;
	border-radius:0px !important;
	overflow: hidden;
	box-sizing: border-box;
	word-wrap: nowrap;
	border: solid 0px black;
	 display: flex;
	 background-color: rgba(255,255,255,1);
	   	 transition: 0.3s;


}

.entity:active:hover {
		background-color: rgba(235,235,235,1);

}

.entity:hover {
	background-color: rgba(245,245,245,1);
  	 cursor: pointer;
}

.entity-text {
	display: inline-block;
	 word-wrap: break-word;
	text-overflow: ellipsis; 
	box-sizing: border-box;
			width: 100%;
			color: black;
			font-size: 15px;
  line-height: 16px;

}

.entity-content {
		box-sizing: border-box;
		width: calc(100% - 80px);
		vertical-align: top;
		flex: 1;
		max-width: inherit;
		text-align: left;

}

.entity-content br {
	display: block;
	line-height: 0;
	height: 0px;
	content: " ";

}

.entity-identity {
	color: rgb(74, 74, 74);
	height: 43.2px;
	line-height: 1.2em;
	display: inline-block;
	font-size: 15px;
}

.entity-title {
		vertical-align: top;

}

.entity-subtitle {
	vertical-align: bottom;
	color: darkgray !important;
}
.underlined {
	text-decoration: underline;
}

.entity-image-content:hover {
	-webkit-filter: brightness(85%);
  	 filter: brightness(85%);
  	 cursor: pointer;
  	 border: solid rgba(0, 0, 0, 0.138) 0.1px;

}

.entity-image-wrap {
	box-sizing: border-box;
	margin-right: 10px;
}

.entity-image {
	width: 48px;
	height: 48px;
	display: inline-block;
	line-height: 20px;
	vertical-align: top;

}

.entity-image-content {
	width: 100%;
	border-radius: 100%;
	border: solid rgba(0, 0, 0, 0.04) 0.1px;
	transition: 0.3s;
	vertical-align: bottom;
}