<script type="text/javascript" id="loadOwnershipChart">
  function loadOwnershipChart() {
    console.log("{{idea.handle}}");
  const ctx = document.getElementById('myChart');
  {% set valid_shards = idea.valid_shards %}
  new Chart(ctx, {
    type: 'pie',
    data: {
  labels: [
    {% for s in valid_shards %}'{{s.owner_address}}',{% endfor %}
  ],
  datasets: [{
    label: 'Percentage',
    data: [{% for s in valid_shards %}{{s.percentage*100}},{% endfor %}],
    backgroundColor: [
      {% for s in valid_shards %}'rgb(255, 205, 86)',{% endfor %}
    ],
    hoverOffset: 4
  }]
}});
}
</script>
