<div class="modal is-active">
<div class="modal-background"></div>
<div class="modal-card noselect">
  <header class="modal-card-head">
      <a class="close button is-info is-inverted" aria-label="close">
        <span class="icon">
          <i class="fa fa-times"></i>
        </span>
      </a>
      <p class="modal-card-title" id="header">Structure of {{idea.name}}</p>
      <p class="control">
        <button class="button is-info is-normal is-rounded" id="reload-structure">
          <span class="icon is-small">
            <i class="fa fa-refresh"></i>
          </span>
        </button>
    </p>
  </header>
  <section id="structure-content" class="modal-card-body has-text-centered">
    <div id="structure-tabs" class="tabs is-centered is-fullwidth" style="width:100%;">
      <ul>
        <li data-content="#banks-tab" class="is-active"><a>Banks</a></li>
        <li data-content="#permits-tab"><a>Permits</a></li>
        <li data-content="#dividends-tab"><a>Dividends</a></li>
      </ul>
    </div>
    <div id="structure-tabs-content">
    <div id="banks-tab" class="structure-tab-content">
      <div class="select is-fullwidth">
        <select>
          <option>main</option>
          <option>second</option>
        </select>
      </div>
    </div>
    <div id="permits-tab" class="structure-tab-content vanish">
      <div class="select is-fullwidth">
        <select>
          <option>Implement Proposal</option>
          <option>Issue Vote</option>
          <option>Issue Dividend</option>
          <option>Liquidize Entity</option>
          <option>Manage Bank</option>
          <option>Manage Acceptable Tokens</option>
          <option>Set Non Shard Holder Status</option>
        </select>
      </div>
      <br>
    </div>
    <div id="dividends-tab" class="structure-tab-content vanish">
      <span class="text" style="float:left;">#1</span>
      <progress class="progress is-success" value="75" max="100" style="margin-bottom:0px;">75%</progress>
      <span class="text" style="float:right;">75/100 ETH</span>
      <span class="text" style="float:left;margin-top:15px;">#0</span>
      <progress class="progress is-success" value="0" max="100" style="margin-bottom:0px;">0%</progress>
      <span class="text" style="float:right;">0/100 USDC</span>
    </div>
</div>
  </section>
</div>
</div>