<div class="modal is-active">
<div class="modal-background"></div>
<div class="modal-card noselect">
  <header class="modal-card-head">
      <a class="close button is-info is-inverted" aria-label="close">
        <span class="icon">
          <i class="fa fa-times"></i>
        </span>
      </a>
      <p class="modal-card-title" id="header">Structure of {{idea.name}}</p>
      <p class="control">
        <button class="button is-info is-normal is-rounded" id="reload-structure">
          <span class="icon is-small">
            <i class="fa fa-refresh"></i>
          </span>
        </button>
    </p>
  </header>
  <section id="structure-content" class="modal-card-body has-text-centered">
    <div id="tree-simple" style="min-height: 300px;"> </div>
  </section>
</div>
</div>