<div class="modal is-active">
<div class="modal-background"></div>
<div class="modal-card noselect">
  <header class="modal-card-head">
      <a class="close button is-info is-inverted" aria-label="close">
        <span class="icon">
          <i class="fa fa-times"></i>
        </span>
      </a>
      <p class="modal-card-title" id="header">Timeline of {{idea.name}}</p>
      <p class="control">
        <button class="button is-info is-normal is-rounded" id="reload-timeline">
          <span class="icon is-small">
            <i class="fa fa-refresh"></i>
          </span>
        </button>
    </p>
  </header>
  <section id="timeline-content" class="modal-card-body has-text-centered">
  <table class="table is-striped is-bordered is-fullwidth">
  {% for e in idea.events[::-1] %}
  <tr><td>
  {% set payload = e.payload %}
    {% if payload["func"] == "sP" %}
      <span class='icon'><i class='fa-solid fa-user-tie'></i></span>
      <span class='text'>Permit Set</span>
      <p>permit: {{payload["permitName"]}}</p>
      <p>affected: {{payload["account"]}}</p>
      <p>new state: {{payload["newState"]}}</p>
    {% elif payload["func"] == "sB" %}
      <span class='icon'><i class='fa-solid fa-user-tie'></i></span>
      <span class='text'>Base Permit Set</span>
      <p>permit: {{payload["permitName"]}}</p>
      <p>new state: {{payload["newState"]}}</p>
    {% elif payload["func"] == "iD" %}
      <span class='icon'><i class='fa-solid fa-money-check-dollar'></i></span>
      <span class='text'>Dividend Issued</span>
      <p>from: {{payload["bankName"]}}</p>
      <p>token address: {{payload["tokenAddress"]}}</p>
      <p>value: {{payload["value"]}}</p>
    {% elif payload["func"] == "dD" %}
      <span class='icon'><i class='fa-solid fa-coins'></i></span>
      <span class='text'>Dividend Dissolved</span>
      <p>dividend id: {{payload["dividend"]}}</p>
      <p>value dissolved: {{payload["dividendValue"]}}</p>
    {% elif payload["func"] == "cD" %}
      <span class='icon'><i class='fa-solid fa-cake-slice'></i></span>
      <span class='text'>Dividend Claimed</span>
      <p>dividend id: {{payload["dividend"]}}</p>
      <p>claimed value: {{payload["dividendValue"]}}</p>
    {% elif payload["func"] in ["cB","aA","rA"] %}
      {% if payload["func"] == "cB" %}
        <span class='icon'><i class='fa-solid fa-building-columns'></i></span>
        <span class='text'>Bank Created</span>
      {% elif payload["func"] == "aA" %}
        <span class='icon'><i class='fa-solid fa-chess-king'></i></span>
        <span class='text'>Bank Admin Added</span>
      {% elif payload["func"] == "rA" %}
        <span class='icon'><i class='fa-solid fa-person-circle-xmark'></i></span>
        <span class='text'>Bank Admin Removed</span>
      {% endif %}
      <p>bank: {{payload["bankName"]}}</p>
      <p>affected: {{payload["bankAdmin"]}}</p>
    {% elif payload["func"] == "dB" %}
      <span class='icon'><i class='fa-solid fa-building-columns'></i></span>
      <span class='text'>Bank Deleted</span>
      <p>name: {{payload["bankName"]}}</p>
    {% elif payload["func"] == "tT" %}
    <span class='icon'><i class='fa-solid fa-money-bill-transfer'></i></span>
    <span class='text'>Token Transferred</span>
    <p>bank: {{payload["bankName"]}}</p>
    <p>token address: {{payload["tokenAddress"]}}</p>
    <p>value: {{payload["value"]}}</p>
    <p>to: {{payload["to"]}}</p>
  {% elif payload["func"] == "mT" %}
    <span class='icon'><i class='fa-solid fa-building-columns'></i></span>
    <span class='text'>Token Moved</span>
    <p>from: {{payload["fromBankName"]}}</p>
    <p>to: {{payload["toBankName"]}}</p>
    <p>token address: {{payload["tokenAddress"]}}</p>
    <p>value: {{payload["value"]}}</p>
  {% endif %}
  <p>by: {{payload["by"]}}</p>
</td></tr>
{% endfor %}
</table>
</section>
</div>
</div>