<div class="modal is-active">
<div class="modal-background"></div>
<div class="modal-card noselect">
  <header class="modal-card-head">
      <a class="close button is-info is-inverted" aria-label="close">
        <span class="icon">
          <i class="fa fa-times"></i>
        </span>
      </a>
      <p class="modal-card-title" id="header">Add members</p>
      <button class="button is-info is-normal is-rounded" id="send-invites-button">
        <span>Send Invite(s)</span>
      </button>
  </header>
  <section class="modal-card-body has-text-centered">

  <div>
      <h1><b>Invite allies</b></h1>
      <div class="textarea has-fixed-size" id="add-members-field"><div id="add-member-tags-container"></div><div data-text="Enter names or usernames" id="add-members-text-field" class="placeholder" contenteditable></div></div>
    </div>
        <div id="select-connections" class="vanish"></div>

      <div id="feedback-add-members" class="feedback">
        <div class="message"></div>
      </div>
      <br id="add-members-anchor">
  <div>
      

  </div>
  <br>
</div>
</section>
</div>
</div>