{% extends "base.html" %}
{% block content %}
<div id="profile">
  <div id="profile-top" class="container">
    <div id="profile-left">
      <div id="profile-image">
        <img id="profile-image-content" src="{{ user.profile_pic.src }}">
      </div>
      <p class="title is-4" style="color:black"><b>{% if user.name %}{{ user.name }}{% else %}{{ user.username }}{% endif %}</b></p>
      <p class="subtitle is-5" style="color:gray">@{{ user.username }}</p>
    </div>
    <div id="profile-right">
      <div id="profile-bar" class="field">
        <div id="profile-bar-content">
          {% if user != current_user %}
          <a class="button is-info is-inverted" id="more"><span>...</span></a>
          <a class="button is-info is-inverted">Connect</a>
          {% else %}
          <a class="button is-info is-inverted">Edit profile</a>
          {% endif %}
        </div>
        <br style="clear: both;">
      </div>
      <div id="profile-bio">
      <p style="color:black"> Lorem ipsum dolor sit amet </p>
      </div>
    </div>
    <br style="clear: both;">
  </div>
  <div id="profile-tabs" class="container">
    <div class="tabs is-centered is-fullwidth is-toggle is-large" style="color: black;">
  <ul>
    <li class="is-active">
      <a>
        <span class="icon is-small"><i class="fas fa-user" aria-hidden="true"></i></span>
        <span>Connections</span>
      </a>
    </li>
    <li>
      <a>
        <span class="icon is-small"><i class="fas fa-group" aria-hidden="true"></i></span>
        <span>Groups</span>
      </a>
    </li>
    <li>
      <a>
        <span class="icon is-small"><i class="fas fa-pencil-alt" aria-hidden="true"></i></span>
        <span>Projects</span>
      </a>
    </li>
  </ul>
</div>
  </div>

</div>
{% endblock %}
{% block scripts %}
<link rel="stylesheet" href="/static/css/user.css">
<script src="../static/js/user.js"></script>
{% endblock %}