#auth-box {
	width: 100%;
	min-width: 330px;
	max-width: 400px;
	margin: auto;
}

#auth-content {
	padding: 10px;
	width: 100%;
	margin: auto;
	background-color: hsl(0, 0%, 99%);
	height: 400px;
	border-top: solid rgb(200,230,255) 7px;
	border-left: solid rgb(200,230,255) 7px;
	border-right: solid rgb(200,230,255) 7px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;

}

#auth-nav {
	width: 100%;
	height: 65px;
	padding: 10px;
	background-color: hsl(0, 0%, 99%);
	border-bottom: solid rgb(200,230,255) 7px;
	border-left: solid rgb(200,230,255) 7px;
	border-right: solid rgb(200,230,255) 7px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;

}

#login-button, #first-continue-button #register-button {
	width: 100%;
}

#continue-button {
	float: right;
}

#stages {
	float: middle;
}

#back-button {
	float: left;
}

#back-button a, #continue-button a {
		border-radius: 100px;
		border: none;

}

#back-button a:hover, #continue-button a:hover {
	background-color: rgba(50,115,220,0.25);
	color: rgb(50,115,220);

}

#continue-button a {
		border-radius: 50px;

}

#back-button a, #continue-button a {
}

.title, .subtitle, strong {
	color: black !important;
}

.auth-fields {
	max-width: 300px;
	margin: auto;
}

#feedback {
	color: black;
	cursor: default;
}

.feedback {
  color: black;
  width: 100%;
  height: 5px;
  padding: 0;
  margin-top: 5px;
  text-align: left;
  font-weight: 500;
}

.center {
	text-align: middle;
}

.left {
	text-align: left;
}

.infotext {
	max-width: 475px;
	margin: 0 auto;
}



.feedback.message {
  width: 100%;
  height: 100%;
  padding: 0;
  text-align: left;
}

.image {
  position: relative;
  top: 325px;
  right: 300px;
  height: 120px;
  width: 80px;
}

.step-1, .step-2, .step-3, .finally {
height: 100%;
}


.step-2, .step-3, .finally {
	display: none;
}

.step-1 {
	display: block;
}


@media (max-width:770px) {
.feedback {
  margin-top: -0.5px;
}
}

@media (max-width:500px) {
	#auth-box {
		width: 100%;
	}
	}

@media (max-width:395px) {
	#auth-box {
		min-width: 250px;
	}
	}
