html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

::selection {
  background: rgba(150,200,255,0.5); /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: rgba(150,200,255,0.5); /* Gecko Browsers */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.noscroll::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.noscroll {
	position: fixed;
    width: 100%;
    height: 100%;
	overflow: hidden;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}


.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.selectable {
	-webkit-touch-callout: text !important; /* iOS Safari */
    -webkit-user-select: text !important; /* Safari */
     -khtml-user-select: text !important; /* Konqueror HTML */
       -moz-user-select: text !important; /* Old versions of Firefox */
        -ms-user-select: text !important; /* Internet Explorer/Edge */
            user-select: text !important; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

#background {
		background: url('/static/images/alps.jpg');
		background-size: cover;
		display: flex;
  		flex-direction: column;
  		-webkit-user-select: none; /* Safari */        
		-moz-user-select: none; /* Firefox */
		-ms-user-select: none; /* IE10+/Edge */
		user-select: none; /* Standard */
}

.footer {
	background-color: transparent;
}

#footer-content {
	margin: auto;
	max-width: 575px;
	padding: 15px;
	padding-left: 20px;
	padding-right: 20px;
	width: 100%;
	background-color: rgba(255,255,255,0.99);
	border-color: rgba(255,255,255,1);
	border-width: 2px;
	border-style: solid;
	border-radius: 80px;
}

#footer-text {
	color: black;
}

#footer-container {

margin-top: 200px;

}

.vanish {
  display: none !important;
}

.invisible {
	opacity: 0;
}

.notransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

.transition {
-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.hidden {
	visibility: hidden;
}


#loader {
	position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(/static/images/loader-one.gif) center no-repeat #ffff;
	background-size: 75%;
}

#flash {
	opacity: 0;
	position: absolute;
	width: 100%;
	height: 50px;
	display: flex;
	justify-content: center; /* align horizontal */
	align-items: center; /* align vertical */
}

#flash p {
	color: white;
}

p.is-close {
	margin-bottom: 7px !important;
}

.is-distant {
	margin-top: 10px;
}

.floater {
	background-color: rgba(255,255,255,0.9);
	padding: 10px;
	border-radius: 10px;
	max-width: 750px;
	width: 100%;
	margin-bottom: 10px;
}

body div section, body div section #background {
	width:100% !important;
}


@media (min-width:500px) {
	

body.noscroll div section #background {
	padding-right: 44px;
}

}