.columns {
	width: 100%;
	margin: auto;
}

#login-box {
	padding: 0;
	width: 90%;
	margin: auto;
}

#login-fields {
	max-width: 300px;
	margin: auto;
}

div.field {
	margin-top: 10px !important;
}

#feedback {
	color: white;
	background-color: rgba(0,0,0,0.75);
	cursor: default;
}
