#profile-top {
	background-color: rgba(255,255,255,0.9);
	padding: 10px;
	border-radius: 10px;
	max-width: 750px;
	margin-bottom: 10px;
}

#profile-tabs {
	background-color: rgba(255,255,255,0.9);
	height: 500px;
	max-width: 750px;
	border-radius: 5px;

}

#profile-tabs .tabs {
	width: 100%;
}


#profile-left {
	width: 250px;
	float: left;
}

#profile-image {
	width: 100%;
}

#profile-image-content {
	width: 100%;
	border-radius: 100%;
}

#profile-image-content:hover {
	-webkit-filter: brightness(80%);
  	 filter: brightness(80%);
  	 cursor: pointer;
}

#profile-right {
	margin-left: 250px;
}

#profile-bar {
	width: 100%;
	padding-bottom: 5px;
	border-bottom: solid rgb(200,230,255) 2px;
	height: 50px;
}

#profile-bar-content a {
	border-radius: 100px;
	border: solid #3298dc 1px;
}

#profile-bar-content #more {
	width: 40px;
	height: 40px;
	margin-right: 5px;
}

#profile-bar-content #more span{
	font-size: 1.75em;
	font-weight: 600;
	margin-bottom: 18px;
	letter-spacing: 0.5px;
}

#profile-bar-content {
	float: right;
}

#background {
	padding-top: 48px;
}

@media (min-width:501px) {
#profile-left {

}

#profile-right {
	padding-left: 10px;
}
	
}


@media (max-width:501px) {
	#profile-left, #profile-right {
		width: 100%;
	}

	#profile-right {
		float: right;
	}
}

/*

For tabs

*/
@media (max-width:590px) {
	#profile-tabs .tabs {
	font-size: 1.2em;
}

}
