<div class="fb subprofile box" style="text-align: left;" data-id="{% if fb %}{{fb.id}}{% else %}\\id//{% endif %}">
<div class="ballot">
	<button class="button transition is-small ballot-item is-inverted is-dark vote upvote {% if is_upvoted %}is-info{% else %}\\upvote_button_class//{% endif %}" data-on="is-info" data-active="{% if is_upvoted %}true{% else %}\\upvote_button_active//{% endif %}">
      <span class="icon is-medium">
        <i class="fas fa-caret-up fa-2x"></i>
      </span>
    </button>
    <button class="button transition is-small is-static ballot-item counter">
      <span class="text">
        {% if fb %}{{fb.upvotes.count()-fb.downvotes.count()}}{% else %}\\votes//{% endif %}
      </span>
    </button>
    <button class="button transition is-small ballot-item is-dark is-inverted vote downvote {% if is_downvoted %}is-danger{% else %}\\downvote_button_class//{% endif %}" data-on="is-danger" data-active="{% if is_downvoted %}true{% else %}\\downvote_button_active//{% endif %}">
      <span class="icon is-medium">
        <i class="fas fa-caret-down fa-2x"></i>
      </span>
    </button>
</div>
<div class="fb-content">
<p class="title is-4" style="color:black;">{% if fb %}{{fb.title}}{% else %}\\title//{% endif %}</p>
<p class="subtitle is-6 text" style="color:black;">{% if fb %}{{fb.content}}{% else %}\\content//{% endif %}</p>
</div>
</div>