{% extends "base.html" %}
{% block content %}
<div class="container floater" style="text-align: center; min-height:636px; margin: 0 auto;">
{% with what='feedback' %}
	{% if current_user.is_authenticated %}
		{% include 'comms/create-bar.html' %}
	{% endif %}
    {% include 'comms/search-filter-bar.html' %}
{% endwith %}
   	<div style="margin-top: 10px;" id="fb-container">
   	{% if post %}
   		{% include 'comms/feedback/post-jinja.html' %}
		{% else %}
			{% if page_count > 0 %}

			{% for fb in feedback %}
				{% include 'comms/feedback/fb-jinja.html' %}
			{% endfor %}

			{% else %}
				{% include 'no-results.html' %}
			{% endif %}
		{% endif %}

	</div>
		<div id="pagination-container">
		{% if not post %}
		{% include 'comms/feedback/pagination.html' %}
		{% endif %}
	</div>
</div>

{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='js/comms/search-filter-bar.js') }}"></script>
<script type="text/javascript">
	if (!window.history.state) {
		{% if post %}
		redirect({'is_search':false},"Feedback Post", "{{url}}");
		{% else %}
		redirect({'is_search':true, 'search':"{% if search %}{{search}}{% endif %}", 'by': "{% if by %}{{by}}{% endif %}", 'page':{{page}} },"Feedback", "{{url}}");
		{% endif %}
	}

	$("#create-bar-input").on('focus', function() {
		window.location.href = "/feedback/submit/";
	});

	$(".search-filter-bar-b[data-active='false']").on('click', function() {
				searchFeedback();
});
	

	$('#fb-container').on('click', '.vote', function() {
		console.log("WOOP");
		var $clicked = $(this);
		var $fb = $clicked.closest('.ctw-media');
		var $counter = $fb.find('.counter').find('span');
		var $ballot = $fb.find('.ballot');
		var $upvote = $ballot.find('.upvote');
		var $downvote = $ballot.find('.downvote');
		var is_upvoted = $upvote.attr('data-active') === "true";
		var is_downvoted = $downvote.attr('data-active') === "true";
		var fb_id = $fb.data('id');
		var clicked	= this;


		function refreshBallot() {
		$ballot.find('.vote').each(function() {
			var $this = $(this);
			if (this != clicked) {
			$this.attr('data-active', "false");
				$this.removeClass($this.data('on'));
			}
		});
	}

	function upvote(fb_id) {
		refreshBallot();
		$clicked.attr('data-active', "true");
		$clicked.addClass($clicked.data('on'))
		if (is_downvoted) {
			$counter.text(parseInt($counter.text())+2);
			}
			else {
				$counter.text(parseInt($counter.text())+1);
		}
		post("/feedback/vote/", function (response) {
			var status = JSON.parse(response)["status"];
			if (status === "success") {
      

			}
			else {
				refreshBallot()
				if (is_downvoted) {
					$counter.text(parseInt($counter.text())-2);
					}
			else {
				$counter.text(parseInt($counter.text())-1);
				$downvote.attr('data-active', "true");
				$downvote.addClass($downvote.data('on'));
		}
			}
		},{'action':'upvote','fb_id':fb_id});
 	
	}

	function downvote(fb_id) {
		refreshBallot();
		$clicked.attr('data-active', "true");
		$clicked.addClass($clicked.data('on'));
		if (is_upvoted) {
		$counter.text(parseInt($counter.text())-2);
		}
		else {
			$counter.text(parseInt($counter.text())-1);
		}
		post("/feedback/vote/", function (response) {
			var status = JSON.parse(response)["status"];
			if (status === "success") {
      
		}
		else {
			refreshBallot();
			// if *was upvoted before
			if (is_upvoted) {
				$counter.text(parseInt($counter.text())+2);
				$upvote.attr('data-active', "true");
				$upvote.addClass($upvote.data('on'));
			}
			else {
				$counter.text(parseInt($counter.text())+1);
			}

		}
		},{'action':'downvote','fb_id':fb_id});
	}

	function unupvote(fb_id) {
	 	refreshBallot();
		$clicked.attr('data-active', "false");
		$clicked.removeClass($clicked.data('on'));
		$counter.text(parseInt($counter.text())-1);
		post("/feedback/vote/", function (response) {
			var status = JSON.parse(response)["status"];
			if (status === "success") {
     
			}
			else {
				// do upvote again
				$clicked.attr('data-active', "true");
				$clicked.addClass($clicked.data('on'));
				$counter.text(parseInt($counter.text())+1);
			}
		},{'action':'unupvote','fb_id':fb_id});
	}

	function undownvote(fb_id) {
		refreshBallot();
		$clicked.attr('data-active', "false");
		$clicked.removeClass($clicked.data('on'));
		$counter.text(parseInt($counter.text())+1);
		post("/feedback/vote/", function (response) {
			var status = JSON.parse(response)["status"];
			if (status === "success") {
       
		}
		else {
			$clicked.attr('data-active', "true");
			$clicked.addClass($clicked.data('on'));
			$counter.text(parseInt($counter.text())-1);
		}
		},{'action':'undownvote','fb_id':fb_id});
	}

		if ($clicked.attr('data-active') === "true") {
			if ($clicked.hasClass('upvote')) {
				unupvote(fb_id);
			}
			else if ($clicked.hasClass('downvote')) {
				undownvote(fb_id);
			}
		}

		else {
			if ($clicked.hasClass('upvote')) {
				upvote(fb_id);
			}
			else if ($clicked.hasClass('downvote')) {
				downvote(fb_id);
			}
			
		}

		});

	function changePagination(page,page_count) {
		if ($('#pagination-container').children().length == 0) {
			$('#pagination-container').append(paginationBar());
		}
		console.log("changepag");
		console.log(page); console.log(page_count);
		page = Math.min(page, page_count);
		var $min = $('.pagination-link.min');
		var $previous_link = $('.pagination-link.previous');
		var $previous = $('.pagination-previous');
		var $current = $('.pagination-link.is-current');
		var $next = $('.pagination-next.next');
		var $next_link = $('.pagination-link.next');

		var $max = $('.pagination-link.max');
		$min.text(Math.min(page,1));
		$max.text(Math.max(0,page));
		$previous_link.attr('data-page',Math.max(0,page-1)).text(Math.max(0,page-1));
		$previous.attr('data-page',Math.max(0,page-1));
		$current.attr('data-page',page).text(page);
		$next.attr('data-page',Math.min(page+1,page_count));
		$next_link.attr('data-page',Math.min(page+1,page_count)).text(Math.min(page+1,page_count));
		$max.attr('data-page',page_count).text(page_count);
		if (page >= page_count && page > 1) {
			console.log("max overflow");
			$min.prop('disabled', false);
			$previous_link.prop('disabled', false);
			$previous.prop('disabled', false);
			$next.prop('disabled', true);
			$next_link.prop('disabled', true);
			$max.prop('disabled', true);

		}

		else if (page == page_count && page <= 1) {
			$min.prop('disabled', true);
			$previous_link.prop('disabled', true);
			$previous.prop('disabled', true);
			$next.prop('disabled', true);
			$next_link.prop('disabled', true);
			$max.prop('disabled', true);
		}

		else if (page <= 1) {
			console.log("max underflow");
			$min.prop('disabled', true);
			$previous_link.prop('disabled', true);
			$previous.prop('disabled', true);
			$next.prop('disabled', false);
			$next_link.prop('disabled', false);

			$max.prop('disabled', false);
		}

		

		else {
			console.log("normal");
			$min.prop('disabled', false);
			$previous_link.prop('disabled', false);
			$previous.prop('disabled', false);
			$next.prop('disabled', false);
			$next_link.prop('disabled', false);
			$max.prop('disabled', false);
		}

	}

$('.pagination-link,.pagination-next,.pagination-previous').on('click', function() {
	if ($(this).is(':disabled') == false) {
		console.log("woot");
		$('.pagination-link.is-current,.pagination-next.is-current,.pagination-previous.is-current').removeClass('is-current');
		$(this).addClass('is-current');
	var state = window.history.state;
	searchFeedback(state.search,state.by,$(this).attr('data-page'));
}
});

$('#search-bar-input').keypress(function(event){
  if(event.keyCode == 13){
    searchFeedback();
  }
});

$(window).on("popstate", function() {
    changeTo();
});

// on history change; change search and page

function changeTo() {
  var state = window.history.state;
  if (state.is_search == true) {
	  $('#search-bar-input').val(simplify(state.search));
	  changeSearchBy(state.by);
	  var $b = $('.search-filter-bar-b[data-name="'+state.by+'"]');
	  $b.attr('data-active', "true");
		$b.addClass($b.data('on'));
	  searchFeedback(state.search, state.by, state.page, do_redirect=false);
	}
	else {
		goToIndividualFeedback(state.feedback_id,do_redirect=false);
	}
}



function clearPage() {
	$("#fb-container").empty();
}

function displayLoading() {
	clearPage();
	$("#fb-container").append(infoLoader());
}

function searchFeedback(search=getSearch(),by=getBy(),page=1,do_redirect=true) {
	console.log(search);
	console.log(by);
	console.log(page);
	var searchObject = {'is_search':true,'search':search, 'by': by, 'page':page};
	var params = new URLSearchParams({ 'search': search, 'by': by, 'page':page });
	var path = `/feedback/?${params.toString()}`;
	if (do_redirect) {redirect(searchObject, "Feedback", path, function(){});}
				 else { window.history.replaceState(searchObject,"Feedback", path);}
	clearPage();
	displayLoading();
	post("/feedback/", function (response) {
			var response = JSON.parse(response);
			var status = response["status"];
			if (status === "success") {
				
        	var feedback = response["feedback"];
        	clearPage();
        	if (feedback.length > 0) {
        		        		console.log("feedback");

        		        		console.log(feedback);

        	feedback.forEach(function(fb) {
        		$("#fb-container").append(minimedia(fb.id,fb.title,fb.content,fb.upvotes,fb.downvotes,fb.is_upvoted,fb.is_downvoted));
        	});
        	} else {
        		$("#fb-container").append(noResults());
        		console.log("no feedback");
        	}
        	changePagination(page,response["page_count"]);
        
      }

			

			},searchObject);

			
			
		}


$(document).on('click', '.fb', function(e) {
	var $target = $(e.target);
	// if click not on ballot
	if (!$('.ballot').has($target).length && !$target.hasClass('ballot')) {
			var feedback_id = $(this).data('id');
			goToIndividualFeedback(feedback_id);

	}
  
});

function goToIndividualFeedback(feedback_id, do_redirect=true) {
			console.log(feedback_id);
				var pageObject = {'is_search':false,'feedback_id':feedback_id};
			if (do_redirect) {redirect(pageObject, "Feedback Post", "/feedback/"+feedback_id+"/", function(){});}
				 else { window.history.replaceState(pageObject,"Feedback Post", "/feedback/"+feedback_id+"/");}
			displayLoading();
			$('#pagination-container').empty();
			post("/feedback/"+feedback_id+"/", function (response) {
			var response = JSON.parse(response);
			var status = response["status"];
			if (status === "success") {
				var post = response["post"];
				clearPage();
				$("#fb-container").append(media(post.id,post.title,post.content,post.upvotes,post.downvotes,post.is_upvoted,post.is_downvoted));

			}},{});
	
}

$(document).on('mouseenter','.ballot', function (event) {
	$(this).closest('.fb').removeClass('hoverable');
}).on('mouseleave','.ballot',  function(){
	$(this).closest('.fb').addClass('hoverable');
});

/*
$(".ballot").hover(function(){
	  $(this).closest('.fb').removeClass('hoverable');
}, function(){
	  $(this).closest('.fb').addClass('hoverable');
});
*/


</script>
<style type="text/css">

	#background {
		padding-top: 40px;
		padding-bottom: 40px;
	}

	.pagination {
		margin-top: 10px;
		color: black;
	}

	#no-results {
		color: gray;
		height: 100%;
		line-height: 420px;
  text-align: center;
	}

	#fb-container {
		height: 447px;
	}

	.pagination-link, .pagination-previous, .pagination-next {
	background-color: white;
}

.pagination-ellipsis {

	color: black;
	font-size: 1.2em;
	font-weight: bold;
}

	.fb:not(:last-child) {
		margin-bottom: 10px;
	}

	.ballot-item:not(:last-child) {
		margin-bottom: 0px;
	}

/*
	.ballot-item span i {
		height: 18px;
	}
*/
	button.ballot-item {
		height: 20px;
		width: 	20px;
		padding-left: 10px;
		padding-right: 10px;
		border-width: 0px;

	}

	.ballot {
		width: 20px;
		display: inline-block;
		position: relative;
		margin-right: 10px;
		margin-left: 4px;
	}

	.fb {
		transition: 0.3s;
		clear: both;
		padding: 7px;
		height: 80px;
		display: flex;
	}

	.post {
		transition: 0.3s;
		clear: both;
		padding: 7px;
		height: 100%;
		display: flex;
	}

	.post .fb-content .title {
		font-size: 30px;
	}

	.post .fb-content .subtitle {
		font-size: 20px;
	}


	.post .ballot button.ballot-item {
		height: 30px;
		width: 	30px;
		padding-left: 10px;
		padding-right: 10px;
		border-width: 0px;
		margin-bottom: 5px;

	}


	.post .ballot button.ballot-item:not(.vote) {
		
		font-size: 16px;

	}

	.post .ballot .vote {
		font-size: 18px;
	}

	.post .ballot {
		width: 30px;
		display: inline-block;
		position: relative;
		margin-right: 15px;
		margin-left: 4px;
	}

	.fb.hoverable:active:hover {
		background-color: rgba(245,245,245,1);

}

.fb.hoverable:hover {
	background-color: rgba(250,250,250,1);
  	 cursor: pointer;
}

.fb .ballot button.vote:not(:hover) {
	background-color: transparent;
}

.fb:hover .ballot button.counter {
	background-color: rgb(240,240,240);
}

.fb:active:hover .ballot button.counter {
	background-color: rgb(235,235,235);
}


	.fb-content {
		vertical-align:top;
		margin-top: 10px;
				display: inline-block;
				flex-grow: 1;
				  overflow: hidden;
	}

	.fb .fb-content .subtitle {
		text-overflow: ellipsis;
				  white-space: nowrap;
				  				  overflow: hidden;

	}

	@media (max-width:410px) {

	.pagination-space span {
		padding: 8px;
				width: 18px;

	}

}

	@media (max-width:500px) {
  .floater {
    height: auto;
      min-height: 100%;
    width: 100%;
  border-radius: 0px;
}

#background {
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
}
}

	@media (max-width:370px) {

		.pagination-space {
			width: 10px;
		}

	.pagination-ellipsis {
		content: "";
		width: 10px;
		/* Hide the text. */
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
	}


	}

</style>
{% endblock %}
