{% extends "base.html" %}
{% block content %}
<p class="title selectable" style="margin: auto;margin-bottom: 10px;">Feedback</p>
<div class="container floater" style="text-align: center; min-height:636px; ">
	<!-- Create feedback -->
	<div style="display: flex; width:100%; margin-bottom: 10px;">
		<figure class="image is-48x48" style="width:40px;height: 40px; float: left; margin-right: 5px;">
				<img class="is-rounded" src="{{current_user.profile_photo.src}}">
			</figure>
		<div class="field is-expanded has-addons" style="float:right; width: 100%;">
                  <p class="control has-icons-left" style="width: 100%;">
                    <input id="create-feedback" class="input" type="location" placeholder='Create feedback'>
                    <span class="icon is-small is-left">
	                    	<i class="fa fa-pencil"></i>
	                  	</span>
                  </p>
      </div>
  </div>

    <!-- Filter feedback -->
    <div class="is-centered" style="background-color: #ffff; border-radius: 10px; clear: both; padding: 5px; margin: auto; display: flex;">
    <div class="field is-expanded has-addons" style="float:left; margin-right: 10px; flex-shrink: 1;">
    			<p class="control has-icons-left" style="min-width: 50px;">
                    <input id="search-feedback" class="input" type="location" placeholder='Search feedback' {% if search %}value="{{search}}"{% endif %}>
                    <span class="icon is-small is-left">
	                    	<i class="fa fa-search"></i>
	                  	</span>
           </p>
       </div>
    <div class="field is-grouped">
    	<p class="control">
    <button class="button transition fb-search-b {% if by == 'hot' %}is-danger is-light{% endif %}" data-on="is-danger is-light" data-name="hot" {% if by == 'hot' %}data-active="true"{% else %}data-active="false"{% endif %}>
      <span id="cog" class="icon">
        <i class="fas fa-fire-alt"></i>
      </span>
    </button>
  </p>
  <p class="control">
    <button class="button transition fb-search-b {% if by == 'best' %}is-warning is-light{% endif %}" data-on="is-warning is-light" data-name="best" {% if by == 'best' %}data-active="true"{% else %}data-active="false"{% endif %}>
      <span id="cog" class="icon">
        <i class="fas fa-medal"></i>
      </span>
    </button>
  </p>
  <p class="control">
    <button class="button transition fb-search-b {% if by == 'new' %}is-success is-light{% endif %}" data-on="is-success is-light" data-name="new" {% if by == 'new' %}data-active="true"{% else %}data-active="false"{% endif %}>
      <span id="cog" class="icon">
        <i class="fas fa-seedling"></i>
      </span>
    </button>
  </p>
  <p class="control">
    <button class="button transition fb-search-b {% if by == 'top' %}is-link is-light{% endif %}" data-on="is-link is-light" data-name="top" {% if by == 'top' %}data-active="true"{% else %}data-active="false"{% endif %}>
      <span id="cog" class="icon">
        <i class="fas fa-rocket"></i>
      </span>
    </button>
  </p>
    </div>
   </div>
   	<div style="margin-top: 10px;" id="fb-container">
   	{% if page_count > 0 %}

		{% for fb in feedback %}
			{% include 'comms/feedback/fb-jinja.html' %}
		{% endfor %}

		{% else %}
			{% include 'no-results.html' %}
		{% endif %}

	</div>
		{% include 'comms/feedback/pagination.html' %}
</div>

{% endblock %}
{% block scripts %}
<script type="text/javascript">
		redirect({'search':"{% if search %}{{search}}{% endif %}", 'by': "{% if by %}{{by}}{% endif %}", 'page':{{page}} },"Feedback", "{{url}}");

	$("#create-feedback").on('focus', function() {
		window.location.href = "/feedback/submit/";
	});

	function clearSearchBy() {
		$(".fb-search-b").each(function() {
			var $this = $(this);
			$this.attr('data-active', "false");
				$this.removeClass($this.data('on'));
		})
	}

	function changeSearchBy(by) {
		$(".fb-search-b").each(function() {
			var $this = $(this);
		if ($this.data('name') != by) {
			$this.attr('data-active', "false");
				$this.removeClass($this.data('on'));
	}});
}

	$(".fb-search-b").on('click', function() {
		var $clicked = $(this);
		var clicked	= this;
		$(".fb-search-b").each(function() {
			var $this = $(this);
			if (this != clicked) {
			$this.attr('data-active', "false");
				$this.removeClass($this.data('on'));
			}
		});
		
		console.log($clicked.attr('data-active'));
		if ($clicked.attr('data-active') == "true") {
			/*
					$clicked.attr('data-active', "false");
					$clicked.removeClass($clicked.data('on'));
					console.log("DDED");
			*/
		}
		else {
			console.log("ADASASD");
		$clicked.attr('data-active', "true");
		$clicked.addClass($clicked.data('on'));
		searchFeedback();

	}


	});

	$('#fb-container').on('click', '.vote', function() {
		console.log("WOOP");
		var $clicked = $(this);
		var $fb = $clicked.closest('.fb');
		var $counter = $fb.find('.counter').find('span');
		var $ballot = $fb.find('.ballot');
		var is_upvoted = $ballot.find('.upvote').attr('data-active') === "true";
		var is_downvoted = $ballot.find('.downvote').attr('data-active') === "true";
		var fb_id = $fb.data('id');
		var clicked	= this;


		function refreshBallot() {
		$ballot.find('.vote').each(function() {
			var $this = $(this);
			if (this != clicked) {
			$this.attr('data-active', "false");
				$this.removeClass($this.data('on'));
			}
		});
	}

	function upvote(fb_id) {
		post("/feedback/vote/", function (response) {
			var status = JSON.parse(response)["status"];
			if (status === "success") {
      refreshBallot();
			$clicked.attr('data-active', "true");
			$clicked.addClass($clicked.data('on'))
			if (is_downvoted) {
			$counter.text(parseInt($counter.text())+2);
			}
			else {
				$counter.text(parseInt($counter.text())+1);
			}
		}
		},{'action':'upvote','fb_id':fb_id});
 	
	}

	function downvote(fb_id) {
		post("/feedback/vote/", function (response) {
			var status = JSON.parse(response)["status"];
			if (status === "success") {
      refreshBallot();
			$clicked.attr('data-active', "true");
			$clicked.addClass($clicked.data('on'));
			if (is_upvoted) {
			$counter.text(parseInt($counter.text())-2);
			}
			else {
				$counter.text(parseInt($counter.text())-1);
			}
		}
		},{'action':'downvote','fb_id':fb_id});
	}

	function unupvote(fb_id) {
		post("/feedback/vote/", function (response) {
			var status = JSON.parse(response)["status"];
			if (status === "success") {
      refreshBallot();
			$clicked.attr('data-active', "false");
			$clicked.removeClass($clicked.data('on'));
			$counter.text(parseInt($counter.text())-1);
			}
		},{'action':'unupvote','fb_id':fb_id});
	}

	function undownvote(fb_id) {
		post("/feedback/vote/", function (response) {
			var status = JSON.parse(response)["status"];
			if (status === "success") {
      refreshBallot();
			$clicked.attr('data-active', "false");
			$clicked.removeClass($clicked.data('on'));
			$counter.text(parseInt($counter.text())+1); 
		}
		},{'action':'undownvote','fb_id':fb_id});
	}

		if ($clicked.attr('data-active') === "true") {
			if ($clicked.hasClass('upvote')) {
				unupvote(fb_id);
			}
			else if ($clicked.hasClass('downvote')) {
				undownvote(fb_id);
			}
		}

		else {
			if ($clicked.hasClass('upvote')) {
				upvote(fb_id);
			}
			else if ($clicked.hasClass('downvote')) {
				downvote(fb_id);
			}
			
		}

		});

	function changePagination(page,page_count) {
		console.log("changepag");
		console.log(page); console.log(page_count);
		page = Math.min(page, page_count);
		var $min = $('.pagination-link.min');
		var $previous_link = $('.pagination-link.previous');
		var $previous = $('.pagination-previous');
		var $current = $('.pagination-link.is-current');
		var $next = $('.pagination-next.next');
		var $next_link = $('.pagination-link.next');

		var $max = $('.pagination-link.max');
		$min.text(Math.min(page,1));
		$max.text(Math.max(0,page));
		$previous_link.attr('data-page',Math.max(0,page-1)).text(Math.max(0,page-1));
		$previous.attr('data-page',Math.max(0,page-1));
		$current.attr('data-page',page).text(page);
		$next.attr('data-page',Math.min(page+1,page_count));
		$next_link.attr('data-page',Math.min(page+1,page_count)).text(Math.min(page+1,page_count));
		$max.attr('data-page',page_count).text(page_count);
		if (page >= page_count && page > 1) {
			console.log("max overflow");
			$min.prop('disabled', false);
			$previous_link.prop('disabled', false);
			$previous.prop('disabled', false);
			$next.prop('disabled', true);
			$next_link.prop('disabled', true);
			$max.prop('disabled', true);

		}

		else if (page == page_count && page <= 1) {
			$min.prop('disabled', true);
			$previous_link.prop('disabled', true);
			$previous.prop('disabled', true);
			$next.prop('disabled', true);
			$next_link.prop('disabled', true);
			$max.prop('disabled', true);
		}

		else if (page <= 1) {
			console.log("max underflow");
			$min.prop('disabled', true);
			$previous_link.prop('disabled', true);
			$previous.prop('disabled', true);
			$next.prop('disabled', false);
			$next_link.prop('disabled', false);

			$max.prop('disabled', false);
		}

		

		else {
			console.log("normal");
			$min.prop('disabled', false);
			$previous_link.prop('disabled', false);
			$previous.prop('disabled', false);
			$next.prop('disabled', false);
			$next_link.prop('disabled', false);
			$max.prop('disabled', false);
		}

	}

$('.pagination-link,.pagination-next,.pagination-previous').on('click', function() {
	if ($(this).is(':disabled') == false) {
	var state = window.history.state;
	searchFeedback(state.search,state.by,$(this).attr('data-page'));
}
});

$('#search-feedback').keypress(function(event){
  if(event.keyCode == 13){
    searchFeedback();
  }
});

$(window).on("popstate", function() {
    changeTo();
});

// on history change; change search and page

function changeTo() {
  var state = window.history.state;

  $('#search-feedback').val(simplify(state.search));
  changeSearchBy(state.by);
  var $b = $('.fb-search-b[data-name="'+state.by+'"]');
  $b.attr('data-active', "true");
	$b.addClass($b.data('on'));
  searchFeedback(state.search, state.by, state.page, do_redirect=false);
}


function clearPage() {
	$("#fb-container").empty();
}

function simplify(value) {
	if (value == undefined) {
		return "";
	}
	return value;
}

function searchFeedback(search,by,page=1,do_redirect=true) {

	var searchObject = {'search':$('#search-feedback').val(), 'by': simplify($('.fb-search-b[data-active="true"]').data('name')), 'page':page};
	clearPage();
	$("#fb-container").append(infoLoader());
	post("/feedback/", function (response) {
			var response = JSON.parse(response);
			var status = response["status"];
			if (status === "success") {

				if (do_redirect) {redirect(searchObject, "Feedback", response["path"], function(){});}
				 else { window.history.replaceState(searchObject,"Feedback", response["path"]);}
          
				
        	var feedback = response["feedback"];
        	clearPage();
        	if (feedback.length > 0) {
        		        		console.log("feedback");

        		        		console.log(feedback);

        	feedback.forEach(function(fb) {
        		$("#fb-container").append(minimedia(fb.id,fb.title,fb.content,fb.upvotes,fb.downvotes,fb.is_upvoted,fb.is_downvoted));
        	});
        	} else {
        		$("#fb-container").append(noResults());
        		console.log("no feedback");
        	}
        	changePagination(page,response["page_count"]);
        
      }

			

			},searchObject);

			
			
		}






</script>
<style type="text/css">

	#background {}

	.pagination {
		margin-top: 10px;
		color: black;
	}

	#no-results {
		color: gray;
		height: 100%;
		line-height: 420px;
  text-align: center;
	}

	#fb-container {
		height: 447px;
	}

	.pagination-link, .pagination-previous, .pagination-next {
	background-color: white;
}

.pagination-ellipsis {

	color: black;
	font-size: 1.2em;
	font-weight: bold;
}

	.fb:not(:last-child) {
		margin-bottom: 10px;
	}

	.ballot-item:not(:last-child) {
		margin-bottom: 0px;
	}

/*
	.ballot-item span i {
		height: 18px;
	}
*/
	button.ballot-item {
		height: 20px;
		width: 	20px;
		padding-left: 10px;
		padding-right: 10px;
		border-width: 0px;

	}

	.ballot {
		width: 20px;
		display: inline-block;
		position: relative;
		margin-right: 10px;
		margin-left: 4px;
	}

	.fb {
		clear: both;
		padding: 7px;
		height: 80px;
		display: flex;

	}

	.fb-content {
		vertical-align:top;
		margin-top: 10px;
				display: inline-block;
				flex-grow: 1;
				  overflow: hidden;
	}

	.fb-content .subtitle {
		text-overflow: ellipsis;
				  white-space: nowrap;
				  				  overflow: hidden;

	}

	@media (max-width:410px) {

	.pagination-space span {
		padding: 8px;
				width: 18px;

	}

}
	@media (max-width:370px) {

		.pagination-space {
			width: 10px;
		}

	.pagination-ellipsis {
		content: "";
		width: 10px;
		/* Hide the text. */
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
	}


	}

</style>
{% endblock %}
