<!-- Create bar -->
<div style="display: flex; width:100%; margin-bottom: 10px;">
		<figure class="image is-48x48" style="width:40px;height: 40px; float: left; margin-right: 5px;">
				<img class="current-user-photo is-rounded" src="{{current_user.photo.src}}">
			</figure>
		<div class="field is-expanded has-addons" style="float:right; width: 100%;">
                  <p class="control has-icons-left" style="width: 100%;">
                    <input id="create-bar-medium" class="input" type="location" placeholder='Create {% if what %}{{what}}{% endif %}'>
                    <span class="icon is-small is-left">
	                    	<i class="fa fa-pencil"></i>
	                  	</span>
                  </p>
      </div>
</div>