{% extends "base.html" %}
{% block content %}
<div id="messages-box" class="container floater">
<div id="messages-content">
  <div id="messages-top">
    <p class="title selectable" id="messages-title"><span class="icon is-small" id="msg-icon"><i class="fa fa-envelope" aria-hidden="true"></i></span><span class="text">{{user.dname}}</span></p>
    <p class="subtitle selectable" id="messages-subtitle">@{{user.username}}</p>
  </div>
  <hr id="sep-line" style="background-color:darkgray;">
  <div id="messages">
  	{% for msg in messages %}
    {% with data = msg.get_data() %}
    <a href="{{data.get('href')}}">
      <div class="msg box {% if not msg.seen %}unread{% endif %}" data-id="{{msg.id}}">
        <span class="msg-icon icon" style="color: {{data.get('color')}};"><i class="fas fa-lg {{data.get('icon')}}"></i></span>
          <div class="msg-content">
              <a class="profile-image" href="{{data.get('href')}}">
              <img alt draggable="false" class="profile-image-content" src="{{data.get('sender-photo')}}">
              </a>
              <br>
              <a class="profile-name" href="{{data.get('href')}}"><b>{% if data.get('sender-name') %}{{data.get('sender-name')}}{% elif data.get('sender-username') %}{{data.get('sender-username')}}{% else %}{{data.get('sender-handle')}}{% endif %}</b></a>
              <span class="selectable">{{data.get('message')}}</span>
        </div>
      </div>
    </a>
    {% endwith %}
    {% endfor %}
  </div>
</div>
 <div class="control" id="message-field">
        <div id="field">
  <textarea class="textarea has-fixed-size" placeholder="Type a message..." id="text-field" rows="1"></textarea> 
</div>
<div id="send">
  <button class="button is-link is-medium is-inverted" id="send-button">
    <span class="icon is-medium">
      <span class="fa-2x">
      <i class="fa fa-long-arrow-right"></i>
    </span>
    </span>
  </button>
</div>
</div>
</div>
{% endblock content %}
{% block scripts %}
<link rel="stylesheet" href="/static/css/messages.css">
<script src="/static/js/notifications.js"></script>
{% endblock %}