<div id="deposit-modal" class="modal is-active">
<div class="modal-background"></div>
<div class="modal-card noselect">
  <header class="modal-card-head">
      <a class="close button is-info is-inverted" aria-label="close">
        <span class="icon">
          <i class="fa fa-times"></i>
        </span>
      </a>
      <p class="modal-card-title" id="header">Deposit to {{erc360.name}}</p>
  </header>
  <section id="deposit-content" class="modal-card-body has-text-centered">
    <div id="amount">
      <h1><b>Amount</b></h1>
      <div class="field has-addons has-addons-centered">
       <p class="control">
          <span class="select">
          <select>
            <option>ETH</option>
          </select>
    </span>
        </p>
      <p class="control">
        <input id="deposit-amount-input" class="input" type="text" placeholder="Amount to deposit" min="1" max="{{2**256-1}}" maxlength="78">
      </p>
    </div>
    </div>
      <div id="feedback-amount" class="feedback">
        <div class="message"></div>
      </div>
      <br id="amount-anchor">
      <button id="deposit" class="button is-success" disabled>Send</button>
  </section>
</div>
</div>