<script type="text/javascript" id="loadOwnershipChart">
  function loadOwnershipChart() {
    console.log("{{erc360.symbol}}");
  const ctx = document.getElementById('myChart');
  {% set valid_shards = erc360.valid_shards %}
  new Chart(ctx, {
    type: 'pie',
    data: {
  labels: [
    {% for s in valid_shards %}'{{s.owner.username}} ({{s.owner_address}})',{% endfor %}
  ],
  datasets: [{
    label: 'Amount',
    data: [{% for s in valid_shards %}{{s.amount}},{% endfor %}],
    backgroundColor: [
      {% for s in valid_shards %}'rgb(255, 205, 86)',{% endfor %}
    ],
    hoverOffset: 4
  }]
}});
}
</script>
