<div class="modal is-active" id="timeline-modal">
<div class="modal-background to-profile"></div>
<div class="modal-card noselect">
  <header class="modal-card-head">
      <a class="close button is-info is-inverted to-profile" aria-label="close">
        <span class="icon">
          <i class="fa fa-times"></i>
        </span>
      </a>
      <p class="modal-card-title" id="header">Timeline of {{erc360.name}}</p>
      <p class="control">
        <button class="button is-info is-normal is-rounded" id="reload-timeline">
          <span class="icon is-small">
            <i class="fa fa-refresh"></i>
          </span>
        </button>
    </p>
  </header>
  <section id="timeline-content" class="modal-card-body has-text-centered selectable">
  <table class="table is-striped is-bordered is-fullwidth">
  {% for e in erc360.events[::-1] %}
  <tr><td>
  {% set payload = e.payload %}
    {% if payload["methodId"] == '0x60806040' %} <!-- on creation -->
    <span class='icon'><i class='fa-solid fa-star'></i></span>
      <span class='text'>Created</span>
      <p>Time: {{payload["blockNumber"]}}</p>
    {% elif payload["methodId"] == '0x' %} <!-- on simple receipt -->
    {% with from=models.Wallet.get_or_register(address=e.w3.toChecksumAddress(payload["from"])) %}
    <span class='icon'><i class="fa-solid fa-money-bill-transfer"></i></span>
      <span class='text'>Received</span>
      <p>Amount: {{e.int(payload["value"])/(10**18)}}</p> 
      <p>From: <a href="{{from.etherscan_url}}" target="_blank">{{from.representation}}</a></p> 
    {% endwith %}
    {% elif payload["methodId"] == "0x8ab73cf9" %} <!-- setPermit(address,bytes32,bool) -->
    {% with account=models.Wallet.get_or_register(address=e.w3.toChecksumAddress(payload["args"]["account"])), permit=models.Permit.get_or_register(erc360=erc360,bytes=e.bytearray.fromhex(payload["args"]["permit"])) %}
 %}
      <span class='icon'><i class='fa-solid fa-user-tie'></i></span>
      <span class='text'>Permit Set</span>
      <p>Permit: {{permit.representation}}</p>
      <p>Affected: {{account.pretty_html_representation}}</p>
      <p>New state: {{payload["args"]["status"]}}</p>
    {% endwith %}
    {% elif payload["methodId"] == "0x9a9abf85" %} <!-- setPermitParent(bytes32,bytes32) -->
    {% with permit=models.Permit.get_or_register(erc360=erc360,bytes=e.bytearray.fromhex(payload["args"]["permit"])),parent=models.Permit.get_or_register(erc360=erc360,bytes=e.bytearray.fromhex(payload["args"]["parent"])) %}
      <span class='icon'><i class="fa-solid fa-sitemap"></i></span>
      <span class='text'>Parent Permit Set</span>
      <p>Permit: {{permit.representation}}</p>
      <p>Parent: {{parent.representation}}</p>
    {% endwith %}
    {% elif payload["methodId"] == "0x40c10f19" %} <!-- mint(address,uint256) -->
      {% with account=models.Wallet.get_or_register(address=e.w3.toChecksumAddress(payload["args"]["account"])) %}
      <span class='icon'><i class="fa-solid fa-money-bill-trend-up"></i></span>
      <span class='text'>Mint</span>
      <p>Account: {{account.pretty_html_representation}}
      <p>Amount: {{e.int(payload["args"]["amount"])}}</p>
      {% endwith %}
    {% elif payload["methodId"] == "0x873fdde7" %} <!-- issueDividend(bytes32,address,uint256) -->
    {% with bank=models.Bank.get_or_register(erc360=erc360,bytes=e.bytearray.fromhex(payload["args"]["bank"])) %}
      <span class='icon'><i class='fa-solid fa-money-check-dollar'></i></span>
      <span class='text'>Dividend Issued</span>
      <p>Bank: {{bank.representation}}</p>
      <p>Token: {{payload["args"]["token"]}}</p>
      <p>Amount: {{e.int(payload["args"]["amount"])/(10**18)}}</p>
    {% endwith %}
     {% elif payload["methodId"] == "0x3598f3f3" %} <!-- issueVote(bytes4[],bytes[],uint256) -->
      <span class='icon'><i class="fa-solid fa-square-poll-vertical"></i></span>
      <span class='text'>Vote Issued</span>
      <p>Sigs: {{payload["args"]["sigs"]}}</p>
      <p>Args: {{payload["args"]["args"]}}</p>
      <p>Duration: {{payload["args"]["duration"]}}</p>
     {% elif payload["methodId"] == "0x74c8df12" %} <!-- implementResolution(uint256) -->
      <span class='icon'><i class="fa-solid fa-check-to-slot"></i></span>
      <span class='text'>Implemented Resolution</span>
      <p>Vote Id: {{payload["args"]["voteId"]}}</p>
    {% elif payload["methodId"] == "0x3b51634f" %} <!-- callExternal(address,bytes4,bytes,uint256,bytes32) -->
      {% with bank=models.Bank.get_or_register(erc360=erc360,bytes=e.bytearray.fromhex(payload["args"]["bank"])) %}
      <span class='icon'><i class="fa-solid fa-phone"></i></span>
      <span class='text'>External Call</span>
      <p>Ext: {{payload["args"]["ext"]}}</p>
      <p>Sig: {{payload["args"]["sig"]}}</p>
      <p>Args: {{payload["args"]["args"]}}</p>
      <p>Value: {{payload["args"]["value"]}}</p>
      <p>Bank: {{bank.representation}}</p>
      {% endwith %}
    {% elif payload["methodId"] == "0x23a7c49b" %} <!-- setExternalCallPermit(address,bytes4,bytes32) -->
    {% with permit=models.Permit.get_or_register(erc360=erc360,bytes=e.bytearray.fromhex(payload["args"]["permit"])) %}
      <span class='icon'><i class="fa-solid fa-id-card"></i></span>
      <span class='text'>External Call Permit Set</span>
      <p>Ext: {{payload["args"]["ext"]}}</p>
      <p>Sig: {{payload["args"]["sig"]}}</p>
      <p>Permit: {{permit.representation}}</p>
    {% endwith %}
    {% elif payload["methodId"] == "0x7ab1f504" %} <!-- transferFundsFromBank(bytes32,address,address,uint256) -->
      <span class='icon'><i class='fa-solid fa-money-bill-transfer'></i></span>
      <span class='text'>Funds Transferred</span>
      {% with token=models.Token.get_or_register(address=payload["args"]["token"]),bank=models.Bank.get_or_register(erc360=erc360,bytes=e.bytearray.fromhex(payload["args"]["fromBank"])),to=models.Wallet.get_or_register(address=e.w3.toChecksumAddress(payload["args"]["to"])) %}
      <p>Token: <a href="{{token.etherscan_url}}" target="_blank">{{token.representation}}</a></p>
      <p>Amount: {{e.int(payload["args"]["amount"])/(10**18)}}</p>
      </p>
      <p>Bank: {{bank.representation}}</p>
      <p>To: {{to.pretty_html_representation}}</p>
    {% endwith %}
    {% elif payload["methodId"] == "0x3fb3a2d7" %} <!-- moveFunds(bytes32,bytes32,address,uint256) -->
    {% with token=models.Token.get_or_register(address=payload["args"]["token"]),fromBank=models.Bank.get_or_register(erc360=erc360,bytes=e.bytearray.fromhex(payload["args"]["fromBank"])),toBank=models.Bank.get_or_register(erc360=erc360,bytes=e.bytearray.fromhex(payload["args"]["toBank"])) %}
      <span class='icon'><i class='fa-solid fa-building-columns'></i></span>
      <span class='text'>Funds Moved</span>
      <p>From bank: {{fromBank.representation}}</p>
      <p>To bank: {{toBank.representation}}</p>
      <p>Token: {{token.pretty_html_representation}}</p>
      <p>Amount: {{e.int(payload["args"]["amount"])/(10**18)}}</p>
    {% endwith %}
  {% endif %}
</td></tr>
{% endfor %}
</table>
</section>
</div>
</div>