<div class="modal is-active" id="timeline-modal">
<div class="modal-background to-profile"></div>
<div class="modal-card noselect">
  <header class="modal-card-head">
      <a class="close button is-info is-inverted to-profile" aria-label="close">
        <span class="icon">
          <i class="fa fa-times"></i>
        </span>
      </a>
      <p class="modal-card-title" id="header">Timeline of {{erc360.name}}</p>
      <p class="control">
        <button class="button is-info is-normal is-rounded" id="reload-timeline">
          <span class="icon is-small">
            <i class="fa fa-refresh"></i>
          </span>
        </button>
    </p>
  </header>
  <section id="timeline-content" class="modal-card-body has-text-centered selectable">
  <table class="table is-striped is-bordered is-fullwidth">
  {% for e in erc360.events[::-1] %}
    {% include 'erc360/event.html' %}
  {% endfor %}
</table>
</section>
</div>
</div>