{% extends "base.html" %}
{% block title %}
<title>Counekt</title>
{% endblock %}
{% block content %}
<section class="hero is-info is-fullheight" style="background-image: linear-gradient(to bottom right, navy,deepskyblue);">
  <div class="hero-body">
  	<div id="first-thing" class="columns">
  	
    <div class="column" style="min-height: 100%;height: 100%; ">
      <p class="title is-1 is-spaced" style="min-width: 344.5px;">
        Entrepreneurial <br>infrastructure <br>for the internet.
      </p>
      <p class="subtitle">
        From real life recruitments to coffee meeting groups - this is a land of opportunities. Connect, create, and collaborate. Meet your future partners today. <b><a href="/register/">Join our platform now! <u>Sign up</u></a></b>
      </p>
    </div>
  <div class="column"><a href="/map/"><div id="map"></a></div><p class="title" style="display:inline;">Explore</p><p class="subtitle" style="display:inline;"> — Take a look at our interactive map and explore the world of entrepreneurship. Whether you're looking for an actress or an engineer, our network's got you covered.</p></div>
</div>
</div>
</section>
<section class="section is-medium">
  <h1 class="title"><i>The</i> meeting place</h1>
  <h2 class="subtitle">
    As a promising online meeting platform, <strong>Counekt</strong> seeks to provide <strong>entrepreneurs</strong> and likeminded with a <strong>flexible network</strong> as a tool to realise their <strong>ideas</strong> with. We are for the most a student <strong>startup</strong> comprised of just three friends. Two of us being from <strong>Copenhagen</strong>, Denmark and one being from <strong>Atlanta</strong>, United States - We are a <strong>global</strong> company. This is only the beginning of something <i>hopefully</i> great. 
  </h2>
  <div class="columns">
  <div class="column">
   <div class="card">
  <div class="card-image">
    <figure class="image is-4by3">
      <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
    </figure>
  </div>
  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <figure class="image is-48x48">
          <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
        </figure>
      </div>
      <div class="media-content">
        <p class="title is-4">Nicolaj Terndrup Christensen</p>
        <p class="subtitle is-6">@nicolaj</p>
      </div>
    </div>

    <div class="content">
      The question mark.
    </div>
  </div>
</div>
  </div>
  <div class="column">
   <div class="card">
  <div class="card-image">
    <figure class="image is-4by3">
      <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
    </figure>
  </div>
  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <figure class="image is-48x48">
          <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
        </figure>
      </div>
      <div class="media-content">
        <p class="title is-4">Frederik Walther Liberoth Christoffersen</p>
        <p class="subtitle is-6">@frederik</p>
      </div>
    </div>

    <div class="content">
      The software developer behind it all.
   </div>
  </div>
</div>
  </div>
  <div class="column">
    <div class="card">
  <div class="card-image">
    <figure class="image is-4by3">
      <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
    </figure>
  </div>
  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <figure class="image is-48x48">
          <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
        </figure>
      </div>
      <div class="media-content">
        <p class="title is-4">Theo Lemle</p>
        <p class="subtitle is-6">@theo</p>
      </div>
    </div>

    <div class="content">
      The wise grown-up with real life experience.
    </div>
  </div>
</div>
  </div>
</div>
</section>
{% endblock %}
{% block scripts %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"/>
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
<script type="text/javascript">
	$(document).ready(function() {
setTimeout(function(){ 
	map.invalidateSize();

},250)});
         var map = L.map('map', { zoomControl: false }).setView([55.676111, 12.568333], 13);
         
         //CartoDB layer names: light_all / dark_all / light_nonames / dark_nonames
         layer = L.tileLayer('http://{s}.basemaps.cartocdn.com/rastertiles/voyager_nolabels/{z}/{x}/{y}.png', {
            subdomains: 'abcd',
            maxZoom: 10,
            minZoom: 2,
         }).addTo(map);
         map.attributionControl.setPrefix('');

         $(document).on('click','#map', function(){
         	window.location.href = "/map/";
         });
</script>
<style type="text/css">

#map {
	height: 100%;
	min-height: 250px;
	opacity: 90%;
	cursor: pointer;

}

.leaflet-container{
    border-radius: 12px;
    }

    div.media-content {
      overflow: hidden;
    }

#first-thing.columns {
  margin: auto;
  margin-top: 0px;
}

.title.is-1.is-spaced {
font-size:  6vw !important;
}
@media screen and (max-width: 751.2px) {

  .title.is-1.is-spaced {
     font-size: 250% !important;
  }
}

@media screen and (min-width: 1200px) {
    .title.is-1.is-spaced {
      font-size: 72px !important;
  }
  div.columns {
    max-width:  1220px !important;
  }

}

</style>
{% endblock %}