<div class="card" style="max-width: 500px; margin: 0 auto;">
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="{{ url_for('static', filename='images/wallpaper.jpg') }}" alt="Placeholder image">
              </figure>
            </div>
          <div class="card-content">
            <div class="media">
              <div class="media-left">
                <figure class="image is-48x48">
                  <img src="{{ url_for('static', filename='images/4years.jpg') }}" alt="Placeholder image">
                </figure>
              </div>
              <div class="media-content">
                <p class="title is-4">Frederik Walther Liberoth Christoffersen</p>
                <p class="subtitle is-6">@FrederikWLC</p>
              </div>
            </div>

              <div class="content">
                The developer behind it all.
             </div>
          </div>
        </div>