{% extends "base.html" %}
{% block title %}
<title>Counekt Stats</title>
{% endblock %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/stats.css') }}">
{% endblock %}
{% block content %}
<section class="hero is-info is-fullheight" style="background-image: linear-gradient(to bottom right, navy,deepskyblue);">
  <div class="hero-body" style="min-height:775px;">
  	<h1 class="title is-2 is-spaced buzzword-container">The Statistics</h1>
  <hr>
  <h2 class="subtitle">
  </div>
</section>
{% endblock %}