<script type="text/javascript" id="loadOwnershipChart">
  function loadOwnershipChart() {
    console.log("{{erc360.symbol}}");
    console.log("Loading chart");

  const ctx = document.getElementById('erc360-ownership-chart');
  {% set current_shards = erc360.current_shards %}
  new Chart(ctx, {
    type: 'pie',
    data: {
  labels: [
    {% for shard in current_shards %}'{{shard.wallet.representation}}',{% endfor %}
  ],
  datasets: [{
    label: 'Amount',
    data: [{% for shard in current_shards %}{{shard.amount}},{% endfor %}],
    backgroundColor: [
      {% for shard in current_shards %}'rgb(255, 205, 86)',{% endfor %}
    ],
    hoverOffset: 4
  }]
}});
}
</script>
