{% extends "base.html" %}
{% block body %}
<div class="container has-text-centered" style="max-width: 960px;">
<p class="title is-1">About</p>
<p class="subtitle is-3">Airbnb Deanonymizer is a piece of software <strong>(in progress)</strong> made to deanonymize Airbnb listings. With access to this tool, real estate agents will have the ability to contact hosts of Airbnb properties, whether the intent is to buy the real estate, counsel the hosts in terms of maximizing their performance on Airbnb, or just for helping them sell their property etc.</p>

</div>
{% endblock %}
