{% extends "base.html" %}
{% block content %}
<div class="has-text-centered is-rounded" style="max-width:1000px; background-color:white;color: black;padding: 30px; border-radius: 20px;">
<p class="title is-1" style="color: black;">About Us</p>
<p class="subtitle" style="color: black;">
Welcome to Counekt, a platform designed to revolutionize the way connections and collaborations happen. Counekt provides an intuitive space where you can network with like-minded individuals, discover new opportunities, and bring your ideas to life.</p>

<p class="subtitle" style="color: black;">
Whether you're an entrepreneur seeking investors, a professional expanding your network, or a creative looking to collaborate on projects, Counekt offers the tools and community you need. Join and be part of an ecosystem that fosters growth, innovation, and new possibilities. Transform the way you connect with Counekt.
</p>

<p class="subtitle" style="color: black;">
We're more than welcoming early adopters! The platform is still in progress, however, so please bear in mind that far from everything is fully functional yet.
</p>
</div>
{% endblock %}
{% block scripts %}
{% endblock %}
