<!DOCTYPE html>
<html lang="en">
  <head>
    {% block title %}
    <title>Counekt</title>
    {% endblock %}
    <link rel="icon" href="{{ url_for('static', filename='images/icon.png') }}">
    <meta charset="utf-8">
    <meta name="Frederik Christoffersen" content="CTW">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.1/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/f1bf187213.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="{{ url_for('static', filename='js/base.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    {% block head %}{% endblock %}
  </head>
  <body {% if noscroll %}class="noscroll"{% endif %}>
    <div id="loader"></div>
  <div id="page" style="display:none;">
    {% if navbar %}
        {% include "navbar/navbar.html" %}
    {% elif exonavbar %}
        {% include "navbar/exonavbar.html" %}
    {% endif %}
    <div id="flash-container">
    <div id="flash"><p class="text has-text-centered"></p></div>
    </div>
    {% if background %}
    <section class="hero is-info is-bold is-fullheight">
    <div class="hero-body" id="background">
    {% elif frame %}
    <section class="hero is-info is-bold is-fullheight">
    <div class="hero-body">
    {% endif %}

    {% block content %}{% endblock %}

    {% if footer %}
    {% include "footer.html" %}
    {% endif %}

    {% if background or frame %}
  </div>
</section>
    {% endif %}
    </div>
    <div id="modal-box">{% block modal %}{% endblock %}</div>
    <script type="text/javascript">
        function miniprofile(name="",identifier="", bio="", href="",photo_src="",symbol="") {
            return `{% include 'profiles/mini-profile.html' %}`.replaceAll('\\name//', name).replaceAll('\\identifier//', identifier).replaceAll('\\bio//',bio).replaceAll('\\href//',href).replaceAll('\\photo_src//',photo_src).replaceAll('\\symbol//',symbol);
        }

        function media(id, title="",content="",upvotes=0,downvotes=0,is_upvoted=false, is_downvoted=false) {
            var upvote_button_class = "";
            var upvote_button_active = "false";
            var downvote_button_class = "";
            var downvote_button_active = "false";
            if (is_upvoted) {
                var upvote_button_class = "is-info";
                var upvote_button_active = "true";
            }
            if (is_downvoted) {
                var downvote_button_class = "is-danger";
                var downvote_button_active = "true";
            }
            return `{% include 'comms/feedback/post.html' %}`.replaceAll('\\id//', id).replaceAll('\\title//', title).replaceAll('\\content//', content).replaceAll('\\votes//',upvotes-downvotes).replaceAll('\\upvote_button_class//',upvote_button_class).replaceAll('\\upvote_button_active//',upvote_button_active).replaceAll('\\downvote_button_class//',downvote_button_class).replaceAll('\\downvote_button_active//',downvote_button_active);
        }

        function minimedia(id, title="",content="",upvotes=0,downvotes=0,is_upvoted=false, is_downvoted=false,href="") {
            var upvote_button_class = "";
            var upvote_button_active = "false";
            var downvote_button_class = "";
            var downvote_button_active = "false";
            if (is_upvoted) {
                var upvote_button_class = "is-info";
                var upvote_button_active = "true";
            }
            if (is_downvoted) {
                var downvote_button_class = "is-danger";
                var downvote_button_active = "true";
            }
            return `{% include 'comms/feedback/fb.html' %}`.replaceAll('\\id//', id).replaceAll('\\title//', title).replaceAll('\\content//', content).replaceAll('\\votes//',upvotes-downvotes).replaceAll('\\upvote_button_class//',upvote_button_class).replaceAll('\\upvote_button_active//',upvote_button_active).replaceAll('\\downvote_button_class//',downvote_button_class).replaceAll('\\downvote_button_active//',downvote_button_active).replaceAll('\\href//',href);
        }

        function freezeScroller() {
            var scrollPosition = window.pageYOffset;
            console.log(scroll);
            $('#page').css({'top': -scrollPosition + 'px'});
            $(document.body).addClass('noscroll');
            $(document.body).attr('prev-scroll',scrollPosition);
        }

        function unfreezeScroller() {
            console.log("OISDO");
            if ($(document.body).hasClass('noscroll')) {
                console.log("does have class");
                $(document.body).removeClass('noscroll');
                $('html').scrollTop($(document.body).attr('prev-scroll'));
                console.log($(document.body).attr('prev-scroll'));
                $('#page').css({'top': 0});
                $(document.body).removeAttr('prev-scroll');
            }
        }

        function makeSureDeleteMedium(id) {
            console.log(id);
            $("#modal-box").append(`{% include 'comms/wall/makesure-delete-medium.html' %}`);
            $("#modal-box").find('#delete-medium-button').attr("data-id",id);
            freezeScroller();
        }

        function unavailableQuote(id) {
            return `{% include 'comms/wall/unavailable-quote.html' %}`;
        }

        function medium(id,title="",content="",creation_datetime="",author_dname="",author_username="",author_href="", profile_photo_src="", author_symbol="@", reply_count=0, quote_count=0, heart_count=0, is_hearted=false) {
            console.log(profile_photo_src);
            console.log("PROFILE PHOTO SRC");
            if (is_hearted) {
                var heart_class = "active";
                var heart_icon_type = "fas";
            }
            else {
                var heart_class = "";
                var heart_icon_type = "far"
            }
            return `{% with by_current_user=True %}{% include 'comms/wall/plain-medium.html' %}{% endwith %}`.replaceAll('\\id//', id).replaceAll('\\title//', title).replaceAll('\\content//', content).replaceAll('\\author_dname//',author_dname).replaceAll('\\author_symbol//',author_symbol).replaceAll('\\author_username//',author_username).replaceAll('\\creation_datetime//',creation_datetime).replaceAll('\\author_href//',author_href).replaceAll('\\profile_photo_src//',profile_photo_src).replaceAll('\\reply_count//',reply_count).replaceAll('\\quote_count//',quote_count).replaceAll('\\heart_count//',heart_count).replaceAll('\\heart_class//',heart_class).replaceAll('\\heart_icon_type//',heart_icon_type);
        }

        function mediumQuote(id,title="",content="",creation_datetime="",author_dname="",author_username="",author_href="", profile_photo_src="", author_symbol="@", reply_count=0, quote_count=0, heart_count=0, is_hearted=false) {
            if (is_hearted) {
                var heart_class = "active";
                var heart_icon_type = "fas";
            }
            else {
                var heart_class = "";
                var heart_icon_type = "far"
            }
            return `{% with is_quote=True %}{% include 'comms/wall/plain-medium.html' %}{% endwith %}`.replaceAll('\\id//', id).replaceAll('\\title//', title).replaceAll('\\content//', content).replaceAll('\\author_dname//',author_dname).replaceAll('\\author_symbol//',author_symbol).replaceAll('\\author_username//',author_username).replaceAll('\\creation_datetime//',creation_datetime).replaceAll('\\author_href//',author_href).replaceAll('\\profile_photo_src//',profile_photo_src).replaceAll('\\reply_count//',reply_count).replaceAll('\\quote_count//',quote_count).replaceAll('\\heart_count//',heart_count).replaceAll('\\heart_class//',heart_class).replaceAll('\\heart_icon_type//',heart_icon_type);
        }

        function mediumWithQuote(quote_html, id, title="",content="",creation_datetime="",author_dname="",author_username="",author_href="", profile_photo_src="", author_symbol="@", reply_count=0, quote_count=0, heart_count=0, is_hearted=false) {
            if (is_hearted) {
                var heart_class = "active";
                var heart_icon_type = "fas";
            }
            else {
                var heart_class = "";
                var heart_icon_type = "far"
            }
            var the_content = `{% with is_template=True, by_current_user=True %}{% include 'comms/wall/medium-with-quote.html' %}{% endwith %}`;
            console.log(the_content);
            return the_content.replaceAll('\\id//', id).replaceAll('\\title//', title).replaceAll('\\content//', content).replaceAll('\\author_dname//',author_dname).replaceAll('\\author_symbol//',author_symbol).replaceAll('\\author_username//',author_username).replaceAll('\\creation_datetime//',creation_datetime).replaceAll('\\author_href//',author_href).replaceAll('\\profile_photo_src//',profile_photo_src).replaceAll('\\reply_count//',reply_count).replaceAll('\\quote_count//',quote_count).replaceAll('\\heart_count//',heart_count).replaceAll('\\heart_class//',heart_class).replaceAll('\\heart_icon_type//',heart_icon_type).replaceAll('\\quote_html//',{% with is_quote=True %}quote_html{% endwith %});

        }

        function infoLoader() {
            return `{% include 'info-loader.html' %}`;
        }

        function noResults() {
            return `{% include 'no-results.html' %}`;
        }
        // fix this below function!
        {% if request.url_rule.endpoint in ['comms.feedback', 'comms.feedback_post']  %}
        function paginationBar() {
             return `{% include 'comms/feedback/basic-pagination.html' %}`;
        }
        {% endif %}
        
            function changeToQuoteMedium(quote_identity, quote_profile_pic, quote_content, quote_id) {
          $("#modal-box").append(`
            {% with is_filler = True %}
            {% include "profiles/user/create-quote.html" %}
            {% endwith %}
            `.replaceAll('\\identity//', quote_identity).replaceAll('\\profile_photo//', quote_profile_pic).replaceAll('\\text-content//', quote_content).replaceAll('\\id//',quote_id));
          freezeScroller();
    }

        function changeToCreateMedium() {
          $("#modal-box").append(`
            {% with what='Medium' %}
            {% include "profiles/user/create-medium.html" %}
            {% endwith %}
            `);
          $('#title-create').focus();
          freezeScroller();
        }
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script src="{{ url_for('static', filename='js/base.js') }}"></script>
    {% if navbar %}
        <script src="{{ url_for('static', filename='js/navbar/navbar.js') }}"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar/navbar.css') }}">
    {% elif exonavbar %}
        <script src="{{ url_for('static', filename='js/navbar/exonavbar.js') }}"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar/exonavbar.css') }}">
    {% endif %}
    {% if navbar or exonavbar %}
    <script src="{{ url_for('static', filename='js/navbar/more.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar/navbar-contents.css') }}">
    {% endif %}
    {% block scripts %}{% endblock %}
      </body>
</html>
