<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="Frederik Christoffersen" content="Airbnb Deanonymizer">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.0/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/f1bf187213.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="/static/js/base.js"></script>
    <link rel="stylesheet" href="/static/css/base.css">
    {% if navbar %}
        <script src="/static/js/navbar.js"></script>
    {% elif exonavbar %}
        <script src="/static/js/exonavbar.js"></script>
        <link rel="stylesheet" href="/static/css/exonavbar.css">
    {% endif %}
    {% block head %}{% endblock %}
  </head>
  <body>
    <div id="loader"></div>
  <div id="page" style="display: none;" class="noselect">
    {% if navbar %}
        {% include "navbar.html" %}
    {% elif exonavbar %}
        {% include "exonavbar.html" %}
    {% endif %}
    
    {% if background %}
    <section class="hero is-info is-bold {% if size %}is-{{size}}{% endif %}">
    <div class="hero-body" id="background">
    {% elif frame %}
    <section class="hero is-info is-bold {% if size %}is-{{size}}{% endif %}">
    <div class="hero-body">
    {% endif %}

    {% block content %}{% endblock %}

    {% if footer %}
    {% include "footer.html" %}
    {% endif %}

    {% if background or frame %}
  </div>
</section>
    {% endif %}
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script src="../static/js/base.js"></script>
    <link rel="stylesheet" href="../static/css/base.css">
    {% if navbar %}
        <script src="/static/js/navbar.js"></script>
    {% elif exonavbar %}
        <script src="/static/js/exonavbar.js"></script>
        <link rel="stylesheet" href="/static/css/exonavbar.css">
    {% endif %}
    {% block scripts %}{% endblock %}
      </body>
</html>
