<div class='select control'>
        <select id="month"> 
          <option value='' disabled hidden selected>Month</option> 
          <option value='1' {% if selected_month == 1 %} selected {% endif %}>Jan</option>
          <option value='2' {% if selected_month == 2 %} selected {% endif %}>Feb</option> 
          <option value='3' {% if selected_month == 3 %} selected {% endif %}>Mar</option> 
          <option value='4' {% if selected_month == 4 %} selected {% endif %}>Apr</option> 
          <option value='5' {% if selected_month == 5 %} selected {% endif %}>May</option> 
          <option value='6' {% if selected_month == 6 %} selected {% endif %}>Jun</option> 
          <option value='7' {% if selected_month == 7 %} selected {% endif %}>Jul</option> 
          <option value='8' {% if selected_month == 8 %} selected {% endif %}>Aug</option> 
          <option value='9' {% if selected_month == 9 %} selected {% endif %}>Sep</option> 
          <option value='10' {% if selected_month == 10 %} selected {% endif %}>Oct</option> 
          <option value='11' {% if selected_month == 11 %} selected {% endif %}>Nov</option> 
          <option value='12' {% if selected_month == 12 %} selected {% endif %}>Dec</option> 
        </select>
      </div>
      <div  class='select control'> 
        <select id="day"> 
          <option value='' disabled hidden selected>Day</option> 
          {% for i in range(1,32) %}
          <option value='{{i}}' {% if selected_day == i %} selected {% endif %}>{{i}}</option> 
          {% endfor %}
        </select>
      </div>
      <div  class='select control'> 
        <select id="year"> 
          <option value='' disabled hidden selected>Year</option> 
          {% for i in range(2020,1899,-1) %}
          <option value='{{i}}' {% if i % 4 == 0 and (i % 100 != 0 or i % 400 == 0) %} data-leapyear="1" {% else %} data-leapyear="0" {% endif %} {% if selected_year == i %} selected {% endif %}>{{i}}</option> 
          {% endfor %}
        </select>
      </div>