<div id="exonavbar-id">

<div id="navbar-burger-id" class="navbar-burger" data-target="navbar-menu-id">
        <span></span>
        <span></span>
        <span></span>
</div>

<div id="navbar-menu-container-id">
<div id="navbar-menu-id" class="field is-grouped">
            {% if not current_user.is_authenticated %}
            <p class="control">
              <a href="/login/" class="button is-link is-outlined">
                <span>Log in</span>
              </a>
            </p>
            {% else %}
            <p class="control">
              <a class="button is-link is-outlined" onclick="logout();">
                <span>Log out</span>
              </a>
            </p>
            {% endif %}

            <p class="control">
              <a href="/about/" class="button is-link is-outlined">
                <span>About</span>
              </a>
            </p>
            <p class="control">
              <a href="/help/" class="button is-link is-outlined">
                <span>Help</span>
              </a>
            </p>
          {% if current_user.is_authenticated %}
          <p class="control">
              <a href="/user/{{current_user.username}}/" class="button is-link is-outlined">
                <span id="cog" class="icon">
                  <i class="fa fa fa-user"></i>
                </span>
              </a>
            </p>
          {% endif %}
           <p class="control">
              <a href="/settings/" class="button is-link is-outlined">
                <span id="cog" class="icon">
                  <i class="fa fa fa-cog"></i>
                </span>
              </a>
            </p>
          </div>
</div>

</div>