<div id="exonavbar-id">

<div id="navbar-burger-id" class="navbar-burger" data-target="navbar-menu-id">
        <span></span>
        <span></span>
        <span></span>
</div>

<div id="navbar-menu-container-id">
<div id="navbar-menu-id" class="field is-grouped">
            <p class="control">
              <a href="/login/" class="button is-link is-outlined">
                <span>Log in</span>
              </a>
            </p>
            <p class="control">
              <a href="/about/" class="button is-link is-outlined">
                <span>About</span>
              </a>
            </p>
            <p class="control">
              <a href="/help/" class="button is-link is-outlined">
                <span>Help</span>
              </a>
            </p>
           <p class="control">
              <a href="/settings" class="button is-link is-outlined">
                <span id="cog" class="icon">
                  <i class="fa fa fa-cog"></i>
                </span>
              </a>
            </p>
          </div>
</div>

</div>