<section class="hero">
  <footer class="footer">
    <div class="container">
      <div class="content has-text-centered" id="footer-content">
        <p id="footer-text" style="color: black;">
          <strong >Counekt</strong> by Frederik W. L. Christoffersen
          <span class="icon is-small">
            <i class="fa fa-copyright"></i>
          </span><b>2021</b>
        </p>
        <p>
          <a class="icon has-text-info" href="https://twitter.com/Frederik_W_L_C" target="_blank">
            <i class="fa fa-globe"></i>
          </a>          
          <a class="icon has-text-info" href="https://github.com/FrederikWLC/ctw" target="_blank">
            <i class="fa fa-github"></i>
          </a>
          <a class="icon has-text-info" href="mailto:frederik.w.l.christoffersen@counekt.com" target="_blank">
            <i class="fa fa-envelope"></i>
          </a>
        </p>
      </div>
    </div>
  </footer>
</section>