{% extends "base.html" %}
{% block content %}
<div class="has-text-centered">
<p class="title is-1">Help</p>
<div id="questions">
	<div class="q">
		<p class="title is-3">How do I create an ERC360 token?</p>
	</div>
	<div class="a">
		<p class="text subtitle is-5">You'll see...</p> 
	</div>

	<div class="q">
		<p class="title is-3">How do I buy/sell an ERC360 token?</p>
	</div>
	<div class="a">
		<p class="text subtitle is-5">You'll see...</p> 
	</div>

</div>
</div>

{% endblock %}
{% block scripts %}
<link rel="stylesheet" href="/static/css/help.css">
<script src="../static/js/help.js"></script>
{% endblock %}