{% extends "base.html" %}
{% block body %}
		<div class="columns">
          <div id="login-box" class="login-box column is-auto has-text-centered">
              <p class="title is-1">Log in</p>
              <p class="title is-3">Embark on entrepreneurship</p>
              <div id="login-fields">
	              <div class="field" id="location">
	                <p class="control has-icons-left has-icons-right">
	                  <input id="location-field" class="input is-info" type="location" placeholder='Username' {% if selected_address %} value="{{selected_address}}" {% endif %}>
	                  <span class="icon is-small is-left">
	                    <i class="fa fa-globe"></i>
	                  </span>
	                  <span class="icon is-small is-right">
	                    <i class="fa fa-asterisk"></i>
	                  </span>
	                </p>
	              </div>
	              <div class="field" id="location">
	                <p class="control has-icons-left has-icons-right">
	                  <input id="location-field" class="input is-info" type="password" placeholder='Password' {% if selected_address %} value="{{selected_address}}" {% endif %}>
	                  <span class="icon is-small is-left">
	                    <i class="fa fa-globe"></i>
	                  </span>
	                  <span class="icon is-small is-right">
	                    <i class="fa fa-asterisk"></i>
	                  </span>
	                </p>
	              </div>
	          </div>
	      </div>
	  </div>
{% endblock %}
{% block scripts %}
<link rel="stylesheet" href="/static/css/login.css">
{% endblock %}
