<section class="hero is-white is-small">
  <nav class="navbar is-transparent">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <h6 href="/" class="subtitle"><strong>Sclean</strong></h6>
      </a>
      <div id="navbar-burger-id" class="navbar-burger burger" data-target="navbar-menu-id">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
    <div id="navbar-menu-id" class="navbar-menu">
      <div class="navbar-start">
      </div>
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="field is-grouped" style="overflow: auto;">
            <p class="control">
              <a href="/about/" class="button is-link is-outlined">
                <span>About</span>
              </a>
            </p>
            <p class="control">
              <a href="/help/" class="button is-link is-outlined">
                <span>Help</span>
              </a>
            </p>
            <p class="control">
              <a href="/settings" class="button is-link is-outlined">
                <span id="cog" class="icon">
                  <i class="fa fa fa-cog"></i>
                </span>
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </nav>
</section>
