{% extends "base.html" %}
{% block content %}
<div id="notification-box" class="floater container">
  <div id="notification-top">
    <p class="title selectable" id="notification-title">Notifications</p>
  </div>
  <div id="notifications">
    {% for notification in notifications %}
    <div class="splitter"></div>
    <a {% if notification.type == 'connect' %}href="/user/{{notification.sender.username}}"{% endif %}>
      <div class="notif box {% if not notification.seen %}unread{% endif %}" data-id="{{notification.id}}">
        <span class="notif-icon icon" style="color: {{notification.color}};"><i class="fas fa-lg {{notification.icon}}"></i></span>
          <div class="notif-content">
              <a class="profile-image" href="/user/{{notification.sender.username}}">
              <img alt draggable="false" class="profile-image-content" src="{{notification.sender.profile_photo.src}}">
              </a>
              <br>
              <a class="profile-name" href="/user/{{notification.sender.username}}"><b>{% if notification.sender.name %}{{notification.sender.name}}{% else %}{{notification.sender.username}}{% endif %}</b></a>
              <span class="selectable">{{notification.message}}</span>
        </div>
      </div>
    </a>
    {% endfor %}
  </div>
</div>
{% endblock %}

{% block scripts %}
<link rel="stylesheet" href="/static/css/notifications.css">
<script src="/static/js/notifications.js"></script>
{% endblock %}
