<div style="max-width:566px; width:100%;">
<div class="field is-grouped level-left" style="background-color:white;">
    	<p class="control">
    <button class="button transition search-filter-bar-b {% if by == 'hot' %}is-danger is-light{% endif %}" data-on="is-danger is-light" data-name="hot" {% if by == 'hot' %}data-active="true"{% else %}data-active="false"{% endif %}>
      <span id="cog" class="icon">
        <i class="fas fa-arrow-left"></i>
      </span>
    </button>
 </p>
 <p class="title" style="color:black;">Medium</p>
</div>
{% include 'comms/wall/medium.html' %}
</div>
