<div class="modal is-active">
	<div class="modal-background"></div>
	<div class="modal-card-container">
		<div class="modal-card noselect">
				<section class="modal-card-body has-text-centered">
				  <div class="title is-5 selectable">Delete this medium?</div>
				  <div class="subtitle is-6 selectable">This action cannot be undone, and it will be removed from your profile, from the walls of all accounts, who follows you, and from the search results at Counekt.</div>
				  <div id="buttons">
				  	<button class="button is-danger is-normal is-rounded transition" id="delete">
					    <span>Delete</span>
					  </button>
					  <button class="button is-light is-normal is-rounded transition" id="cancel">
					    <span>Cancel</span>
					  </button>
				 </div>
				</section>
		</div>
	</div>
</div>