<article class="media medium {% if is_quote %}quote{% endif %}" style="color:  black;" data-id="{% if medium %}{{medium.id}}
{% else %}\\id//{% endif %}">
  {% if not is_quote %}
  <div class="media-left medium-left">
    {% if is_filler %}
      \\profile_photo//
      {% else %}    
      {% include 'comms/wall/medium-profile-photo.html' %}
    {% endif %}
  </div>
  {% endif %}
  <div class="media-content">
    <div class="medium-content">
      {% if is_filler %}
      \\identity//
      {% else %}
      <p class="medium-identity">
        {% if through_channel %}
        <span class="channel clickable">{% if is_quote %}{% include 'comms/wall/medium-profile-photo.html' %}{% endif %}<strong class="channel-name">{% if medium %}{{medium.channel.dname}}{% elif is_quote %}\\channel_dname//{% else %}\\channel_dname//{% endif %}</strong> <small class="channel-handle">{% if medium %}{{medium.channel.symbol}}{{medium.channel.handle}}{% elif is_quote %}\\channel_symbol//\\channel_handle//{% else %}\\channel_symbol//\\channel_handle//{% endif %}</small></span>
         <small>(by <b class="author">{% if medium %}{{medium.author.dname}}{% elif is_quote %}\\author_dname//{% else %}\\author_dname//{% endif %}</b>)</small>
        {% else %}
        <span class="channel clickable">{% if is_quote %}{% include 'comms/wall/medium-profile-photo.html' %}{% endif %}<strong class="channel-name">{% if medium %}{{medium.author.dname}}{% elif is_quote %}\\author_dname//{% else %}\\author_dname//{% endif %}</strong> <small class="channel-handle">{% if medium %}{{medium.author.symbol}}{{medium.author.username}}{% elif is_quote %}\\author_symbol//\\author_username//{% else %}\\author_symbol//\\author_username//{% endif %}</small></span>
        {% endif %}
         <span style="margin-right:4px;" class="separator">·</span><span><small class="creation-datetime">{% if medium %}{{medium.creation_datetime.strftime("%b %d %Y  %I:%M %p")}}{% elif is_quote %}\\creation_datetime//{% else %}\\creation_datetime//{% endif %}</small></span>
        
      </p>
      {% endif %}
      <br>
      {% if is_filler %}
      \\text-content//
      {% else %}
      <div class="text-content">
        <p class="medium-title">{% if medium %}{{medium.title}}{% elif is_quote %}\\title//{% else %}\\title//{% endif %}</p>
        <br>
        <p class="medium-body-text">
        {% if medium %}{{medium.content}}{% elif is_quote %}\\content//{% else %}\\content//{% endif %}
        </p>
      </div>
      {% endif %}
      {% block quote_html %}
      {% endblock %}
    </div>
    {% if not is_filler and not is_quote %}
    <nav class="level is-mobile medium-ballot">
      <div class="level-left">
        <span class="level-item medium-reply clickable">
          <a class="medium-reply-interact"><span class="icon is-small"><i class="fas fa-reply"></i></span></a>
          <a class="number-info"><span class="text" style="margin-left: 5px;">{% if medium %}{{medium.reply_count}}{% else %}\\reply_count//{% endif %}</span></a>
        </span>
        <span class="level-item medium-quote clickable">
          <a class="medium-quote-reply-interact"><span class="icon is-small"><i class="fas fa-quote-left"></i></span></a>
          <a class="number-info"><span class="text" style="margin-left: 5px;">{% if medium %}{{medium.quote_count}}{% else %}\\quote_count//{% endif %}</span></a>
        </span>
        {% if medium %}
        {% with is_hearted = medium.is_hearted(current_user) %}
        <span class="level-item medium-love clickable {% if medium %}{% if is_hearted %}active{% endif %}{% else %}\\heart_class//{% endif %}">
          <a class="medium-love-interact"><span class="icon is-small"><i class="{% if medium %}{% if is_hearted %}fas{% else %}far{% endif %}{% else %}\\heart_icon_type//{% endif %} fa-heart"></i></span></a>
          <a class="number-info"><span class="text" style="margin-left: 5px;">{% if medium %}{{medium.heart_count}}{% else %}\\heart_count//{% endif %}</span></a>
        </span>
        {% endwith %}
        {% else %}
        <span class="level-item medium-love clickable \\heart_class//">
          <a class="medium-love-interact"><span class="icon is-small"><i class="\\heart_icon_type// fa-heart"></i></span></a>
          <a class="number-info"><span class="text" style="margin-left: 5px;">\\heart_count//</span></a>
        {% endif %}
      </div>
    </nav>
    {% endif %}
  </div>
  {% if not is_filler and not is_quote %}
  <div class="media-right clickable">
    <div class="dropdown medium-menu">
      <div class="dropdown-trigger">
        <button class="button is-rounded medium-menu-button"><span class="icon is-small"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></span></button>
      </div>
      <div class="dropdown-menu" role="menu">
        <div class="dropdown-content">
          <a class="dropdown-item delete-medium is-danger">
            <span class="text has-text-danger">Delete</span><span class="icon">
              <i class="fa fa-trash has-text-danger" aria-hidden="true"></i>
            </span>
          </a>
          <hr class="dropdown-divider">
          <a href="#" class="dropdown-item">
            <span class="text">Report</span><span class="icon">
              <i class="fa fa-flag" aria-hidden="true"></i>
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
</article>