<div class="modal is-active">
<div class="modal-background"></div>
<div class="modal-card noselect">
  <header class="modal-card-head">
      <a class="close button is-info is-inverted" aria-label="close">
        <span class="icon">
          <i class="fa fa-times"></i>
        </span>
      </a>
      <p class="modal-card-title">Create {% if what %}{{what}}{% endif %}</p>
  </header>
<section class="modal-card-body has-text-centered">
	<input id="title-input" class="input" type="location" placeholder='Title' style="margin-bottom: 10px;">
	<textarea id="content-input" class="textarea has-fixed-size" type="location" placeholder='Text (optional)' style="margin-bottom: 10px;"></textarea>
	</section>
	<footer class="modal-card-foot">
		<div class="field is-grouped" style="float: right;">
			<p class="control">	
				<button id="save-draft-button" class="button transition is-light is-info is-outlined" disabled>
				      <span class="text">
				        Save draft
				      </span>
			    	</button>
		    </p>
		    <p class="control">
				<button id="submit-button" class="button transition is-link" disabled>
			      <span class="text">
			        Submit
			      </span>
		    	</button>
		    </p>
</div>
</footer>
</div>
</div>