<div id="wall-bit" class="{% if vanish %}vanish{% endif %}">
<div class="container floater">
	{% with what='media' %}
		{% if create_bar %}	
		{% include 'comms/create-bar.html' %}
		{% endif %}
    {% include 'comms/search-filter-bar.html' %}
	{% endwith %}
</div>

{% with media = {"hot":wall.media_sorted_by_hot,"best":wall.media_sorted_by_best, "top": wall.media_sorted_by_top, "new":wall.media_sorted_by_new}.get(by, wall.media_sorted_by_new) %}
{% include 'comms/wall/flex-stream.html' %}
{% endwith %}
	
</div>
